	<!-- Products css part starts here -->
		<!-- CSS Custom -->
	<link rel="stylesheet" href="../../assets/templatemo_misc.css">
	<link rel="stylesheet" href="../../assets/templatemo_style.css">
	<style type="text/css">
		.inner-content, .widget-content, .about-us-content{
			min-height: 452px;
			margin-bottom: 30px;
		}
		.sub-about-us{
			font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 15px;
		    font-style: italic;
		    font-weight: 400;
		    margin-bottom: 75px;
		    text-transform: none;
		}

	</style>
	

<!--Content Part -->

<div class="site-header">
		<div class="main-navigation"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="#" class="templatemo_logo">
						<h1>About Us</h1>
					</a> <!-- /.logo -->
					<h5 class="sub-about-us">Your Best Support in Life</h5>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.site-header -->

	
	<div class="main-navigation">
		<div class="content about homepage">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-10">
						<div class="about-us-content">
							<div class="toggle-content active" id="tab4">
								<h2 class="page-title">Who We Are</h2>
                                
								<p><img src="../../assets/aboutus.jpg" alt="product 4" class="img-responsive img_left" style="height: 170px;"><a href="http://ortekmedical.com"><strong style="font-size: 30px;">ORTEK</strong> Medical equipment Trading LLC</a> Dubai provides high quality medical equipment, State of the Art, Prosthetic, Orthotic, Orthopedic Braces & Supports, insoles, Medical Shoes, Mobility Aids, wheelchairs, Physio-Rehab products and healthcare services with expert guidance to our clients, Our team consists of highly qualified professionals providing orthopedic technology in the field of orthotics, prosthetics, Orthopedic and associated products. We pride ourselves on our patient care, the quality of rehabilitation and follow up services. We work to bring the right selection of Medical Rehabilitation Equipment’s including Postural Support and Seating system solutions from professional. And well experienced specialists with greater quality, affordability, access and simplicity to the healthcare system and end users.</p>
								<p>The professional service we provide to our clients is founded on the following principles.</p>
								<ul>
									<li><i class="fa fa-umbrella"></i>
Expert assessment of patients of all ages and disabilities providing custom made prosthetic.</li>
									<li><i class="fa fa-umbrella"></i>
Orthotic Orthopedic Braces & Support and rehabilitation devices using the latest techniques and readymade products from established and trusted producers from Germany ,Poland ,Spain, USA,UK.</li>
									<li><i class="fa fa-umbrella"></i>
Shortest possible time of fabrication of the required devices.</li>
									<li><i class="fa fa-umbrella"></i>
Individualized follow up plan.</li>
                                    <li><i class="fa fa-umbrella"></i>
Close co-ordination with doctors, therapists and patients for long term patient satisfaction and Therapy success.</li>
                                    <li><i class="fa fa-umbrella"></i>
Caring staff provide quality service with timely response in a confidential environment.</li>
                                    <li><i class="fa fa-umbrella"></i>
Reasonable prices.</li>
                                    <li><i class="fa fa-umbrella"></i>
We will permanently be carrying on update and improvements our products to be able to serve you, our valuable customers who always deserve the best.</li>
								</ul>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab5">
								<h2 class="page-title">Our Mission</h2>
								<p><img src="../../assets/mission.jpg" alt="product 2" class="img-responsive img_right" style="height: 170px;">To achieve this goal, To provide a necessary service for the community by meeting the specialized needs of Orthotic and Prosthetic patients We consciously try to bridge the gap between brands from all over the world and the local society in a flexible and creative way. With state-of-the-art knowledge and first-hand experience supplementing our work, we consistently match the global offering healthcare with the ever changing customer needs in the Dubai UAE. We help create added value for both our customers and partners and work together to establish long-term relationships.</p>
							</div> <!-- /.toggle-content -->
							<div class="toggle-content" id="tab6">
								<h2 class="page-title">Our Vision</h2>
								<p><img src="../../assets/vision.jpg" alt="product 6" class="img-responsive img_left" style="height: 170px;">To be the partner of choice for services and products that enhance human physical capability.
								We strive to improve the quality of life and well-being of people and society throughout the UAE.</p>
							</div> <!-- /.toggle-content -->
						</div> <!-- /.inner-content -->
					</div> <!-- /.col-md-9 -->
					<div class="col-md-3 col-sm-2">
						<div id="icons-about">
							<ul class="tabs">
								<li id="about-us-cls">
									<a href="#tab4" class="icon-item">
										<i class="fa fa-umbrella"></i>
										<span>Who We Are</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab5" class="icon-item">
										<i class="fa fa-user-md"></i>
										<span>Our Mission</span>
									</a> <!-- /.icon-item -->
								</li>
								<li>
									<a href="#tab6" class="icon-item">
										<i class="fa fa-camera"></i>
										<span>Our Vision</span>
									</a> <!-- /.icon-item -->
								</li>
							</ul>
						</div> <!-- /.icons -->
					</div> <!-- /.col-md-3 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.services -->
	</div>
	<!-- Scripts -->
	<script src="../../assets/tabs.js"></script>
	<script src="../../assets/jquery.lightbox.js"></script>
	<script src="../../assets/templatemo_custom.js"></script>
	<script src="../../assets/modernizr.js"></script>

<!--Content Part -->

