

<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Ankle Products Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">Ankle Stabilizing Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/1.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Further treatment of ankle injuries, prevention of ankle overload, inflammation, degenerative changes, pain syndromes of various etiology, ankle protection during return to sport and professional activities.
                    	<br><br>
                    
      


	<i class="fa fa-umbrella padding-right-five"></i>tutor made of flexible, breathable, 3D woven knitted fabrics. Thanks to its appropriate structure and properties of knitted fabrics, the orthosis prevents swelling,<br>
<i class="fa fa-umbrella padding-right-five"></i>provides optimum stability and comfort of use,<br>
<i class="fa fa-umbrella padding-right-five"></i>two silicone pelota inserts, which are placed in accordance with malleolus lateralis and malleolus medialis, provide additional joint protection and increase effectiveness of the orthosis,<br>
<i class="fa fa-umbrella padding-right-five"></i>one, universal model for left and right limb.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: left;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">Ankle circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">18 - 20</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">20 - 23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 26</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">26 - 28</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Anmove Ankle Joint Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/2.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Follow-up treatment of the astragalar joint injuries, prophylaxis of the astragalar joint overloading, inflammation with oedema of the astragalar joint, pain syndromes of various etiology, astragalar joint protection against recurrent injuries while reundertaking occupational or sport activities after experiencing astragalar joint injury.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>made of high quality knitted fabric with Lycra® addition that guarantees optimal adjustment and comfort of use,<br>
    <i class="fa fa-umbrella padding-right-five"></i>spots of different compression effect to improve the astragalar joint stabilization, prevent oedemas, provide soft tissue compression and enhance proprioception,<br>
    <i class="fa fa-umbrella padding-right-five"></i>lateral pads made of polyurethane foam are located according to the anatomical position of lateral and medial ankles and provide optimal stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>universal version for left and right leg.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">5</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">6</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Leg circumference<br>above the ankle (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">17 - 20</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">20 - 22</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">22 - 24</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">24 - 26</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">26 - 28</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">28 - 30</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

  <!--Product starts here -->
            <h4 class="service-heading" style="text-">AFO - Soft Stabilizing Ankle Joint Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/3.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Effectively supports treatment and rehabilitation of injuries, ankle joint dysfunctions, provides additional help to the lateral ankle ligaments, as well as medial orientation of the foot.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>open type orthosis, made of Air-X spacer fabric of very good air and moisture permeability,<br>
    <i class="fa fa-umbrella padding-right-five"></i>“comfort areas” placed on vulnerable spots in order to protect against abrasions and provide better stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>hook-and-loop closure,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional, flexible, stabilizing strap in order to control compression and provide proper foot position,<br>
    <i class="fa fa-umbrella padding-right-five"></i>universal version for left and right leg.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Leg circumference above the ankle (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">19 - 22</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 25</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">26 - 28</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->


  <!--Product starts here -->
            <h4 class="service-heading" style="text-">Foot and Shin Brace (Pneumatic):</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/4.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Stabilization and counteraction against oedma in case of soft tissue injuries of ankle joint/distal part of shin, a second/third degree ankle sprain, follow-up treatment in case of stabile fractures of ankle/instep, immobilization in required therapeutical position after surgeries, surgeries of great toe joint, soft tissue injury, injuries of calcaneal tendon, protection and post-traumatic stabilization of foot and ankle joint area, immobilization of ankle joint according to chosen therapeutic range.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>soft, pneumatic padding allows to control the soft tissue compression which prevents oedma and provides optimal adjustment to body shape,<br>
    <i class="fa fa-umbrella padding-right-five"></i>fastened with hook-and-loop closure,<br>
    <i class="fa fa-umbrella padding-right-five"></i>hinge allows to regulate the dorsiflexion / plantarflextion (0°- 45°) every 15°.<br>
    <i class="fa fa-umbrella padding-right-five"></i>anatomically moulded outsole enables stabile, similar to regular walk.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XS</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Foot length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&lt;21</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">21 - 24</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">24 - 27</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">27 - 30</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">30 - 33</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

  <!--Product starts here -->
            <h4 class="service-heading" style="text-">AFO - Walker Step-ankle Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/5.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Protection and stabilization of foot and ankle after injuries, necessity to immobilize ankle joint in the chosen therapeutic range, postoperative, preventive treatment.
                    	<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>long step-ankle orthosis of light, rigid and durable structure,<br>
    <i class="fa fa-umbrella padding-right-five"></i>covered hinge enables limitation of plantar and dorsal flexion (0° - 45°) every 15°,<br>
    <i class="fa fa-umbrella padding-right-five"></i>removable, soft lining,<br>
    <i class="fa fa-umbrella padding-right-five"></i>fastened by self-adhesive band,<br>
   <i class="fa fa-umbrella padding-right-five"></i>one, universal version for left and right leg.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Footwear size (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">34 - 39</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">39 - 44</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">44 - 47</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">47 - 50</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Orthosis height (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">38</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">45</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">46</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">47</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

  <!--Product starts here -->
            <h4 class="service-heading" style="text-">Foot and Shin Brace:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/6.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Fractures/cracks of metatarsus bones also during post-operative treatment, cracks of heel/tarsus/ great toe bones, surgeries of great toe joint, soft tissue injury, injuries of calcaneal tendon, sprain/dislocation of ankle joint, protection and post-traumatic stabilization of foot and ankle joint area, immobilization of ankle joint according to chosen therapeutic range, post-operative treatment.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>equipped with velour knitted-fabric padded with foam,<br>
    <i class="fa fa-umbrella padding-right-five"></i>five additional hook-and-loop closures which allow to adjust compression to individual needs,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two stays provide lateral stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>hinge allows to regulate the dorsiflexion / plantarflextion (0° - 45°) every 15°,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two versions: left and right,<br>
    <i class="fa fa-umbrella padding-right-five"></i>anatomically moulded outsole enables stabile, similar to physiological walk.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XS</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Foot length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&lt;21</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">21 - 24</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">24 - 27</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">27 - 30</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">30 - 33</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->      

  <!--Product starts here -->
            <h4 class="service-heading" style="text-">Stabilizing Ankle Brace (Pneumatic-gel):</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/7.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Post-traumatic conditions of ankle joint (sprain, dislocation) during functional treatment, instability of ankle joint, stabilization after surgeries, ankle joint protection from recurrent injuries while re-undertaking occupational or sport activities after experiencing injury.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>plantar part of regulated length allows to adjust the circumference and ensures unhampered dorsiflexion/plantarflexion movement,<br>
    <i class="fa fa-umbrella padding-right-five"></i>internal part of the brace consists of two elements: upper – filled with air and bottom part filled with gel (cooling/warming).</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
               <p>Universal Size.</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here --> 

              <!--Product starts here -->
            <h4 class="service-heading" style="text-">Power Walking Boot Tibial Ankle Foot Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/8.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Protection against oedma, stabilization in case of: soft tissue injuries (ankle area, foot distal part of tibia), sprain of the ankle, metatarsus, tarsus (second and third degree). further treatment of stable metatarsus and ankle fractures, post-operative treatment, inflammation of Achilles tendon, extensor tendon, foot flexor.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>the orthosis consists of stiff, perforated construction which provides effective stabilization and enables free air circulation,<br>
    <i class="fa fa-umbrella padding-right-five"></i>profiled sole enables stabile, similar to regular walk,<br>
    <i class="fa fa-umbrella padding-right-five"></i>inner lining made of soft, breathable fabrics with additional protection for toes and internal air spaces allow to adjust soft tissue compression, choose appropriate stabilization strength,<br>
    <i class="fa fa-umbrella padding-right-five"></i>universal dressing for right and left limb.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Footwear size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">36 - 39</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">38 - 42</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">42 - 46</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">46 &lt;</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   



  <!--Product starts here -->
            <h4 class="service-heading" style="text-">Postoperative Shoe:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/9.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Post operative shoe with profiled sole. It can be adapted for both
right and left foot. Recommended for post surgery in the area of the
foot and toes, edema.
                    	<br><br>
                    
      
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                	<p></p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->    

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Postoperative Shoe/Plaster Protection:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/10.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Plaster protection, can be used on bothe right and left foot.
                    	<br><br>
                 
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
               
					<p></p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->  

   <!--Product starts here -->
            <h4 class="service-heading" style="text-">AFO - Night Foot-drop Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/11.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Correction of feet position to the shin from medial position to dorsal bend of the foot, prevention of contractures in bedridden patients with hemiplegia, multiple sclerosis, cerebral palsy.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>light structure made of polypropylene,<br>
    <i class="fa fa-umbrella padding-right-five"></i>system of stabilizing stripes with soft lining enables correction of foot position to the shin,<br>
    <i class="fa fa-umbrella padding-right-five"></i>open type orthosis with spacious interior,<br>
    <i class="fa fa-umbrella padding-right-five"></i>possible to use with a cast on foot and shin.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">24,5</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">26</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   

   <!--Product starts here -->
            <h4 class="service-heading" style="text-">AFO - Fit Foot-drop Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/12.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Prevention of foot-drop in the case of peroneal nerve palsy and neurosurgical diseases.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>light,<br>
    <i class="fa fa-umbrella padding-right-five"></i>made of polypropylene,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional band to stabilize ankle joint,<br>
    <i class="fa fa-umbrella padding-right-five"></i>free heel and calf,<br>
    <i class="fa fa-umbrella padding-right-five"></i>highly hygienic,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two versions: for left and right leg.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Footwear size (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">35 - 37</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">37 - 39</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">39 - 41</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">41 - 44</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   

 <!--Product starts here -->
            <h4 class="service-heading" style="text-">ACHILLOmedical - Achilles Tendon Bandage with Gel Pads:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/13.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	High quality Achilles tendon bandage made of bi-elastic fabric with compression pads. The pads relieve and guide the Achilles tendon and have a massage effect on the tissue which helps in detumescence.
                    	<br>

Indications:<br>
	
    <i class="fa fa-hand-o-right padding-right-five"></i>Ruptures and injuries of the Achilles tendon<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Support of the Achilles tendon after ruptures<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Postoperative<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>Knitted fabric for optimal comfort and better adjustment to body shape<br>
    <i class="fa fa-umbrella padding-right-five"></i>Lateral silicone pads relieving the Achilles tendon<br>
    <i class="fa fa-umbrella padding-right-five"></i>Silicone heel wedge for tension reduction<br>
    <i class="fa fa-umbrella padding-right-five"></i>Left and right version<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: silver-blue, black</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Ankle circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">17 - 19</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">19 - 21</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">21 - 23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 25</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">25 - 27</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   

    <!--Product starts here -->
            <h4 class="service-heading" style="text-">MALLEOmedical - Ankle Joint Bandage with Gel Pads:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/14.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    High quality ankle joint bandage made of bi-elastic fabric with compression pads. The pads distribute compression from the malleoluses to the surrounding
tissue. Additionally the massage effect improves blood circulation, helps to decrease oedma and haematomas.
                    	<br>

Indications:<br>
	

    <i class="fa fa-hand-o-right padding-right-five"></i>For injuries or weakness of the ligaments<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Arthrosis and distorsions<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Tendomyopathies<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>In case of irritations<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>Knitted fabric for optimal comfort and better adjustment to body shape<br>
    <i class="fa fa-umbrella padding-right-five"></i>Lateral silicone pads for a better pressure distribution<br>
    <i class="fa fa-umbrella padding-right-five"></i>Elastic edge without constrictions<br>
    <i class="fa fa-umbrella padding-right-five"></i>Left and right version<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: silver-blue, black</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Ankle circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">17 - 19</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">19 - 21</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">21 - 23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 25</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">25 - 27</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">27 - 29</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   


          <!--Product starts here -->
            <h4 class="service-heading" style="text-">TALUmedical - Stabilising Ankle Joint Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/ankle/15.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    High quality orthosis stabilising the upper and lower ankle joint. The foot can be placed in supination or pronation and natural, heel-to-toe movement is possible.
                    	<br>

Indications:<br>
	

    <i class="fa fa-hand-o-right padding-right-five"></i>Torn ligaments<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Sprains and distorsions of the upper ankle joint<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Postoperative after treatment<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>Preformed stable plastic shells for a better fit<br>
    <i class="fa fa-umbrella padding-right-five"></i>2 Velcro straps for a steady fixation<br>
    <i class="fa fa-umbrella padding-right-five"></i>Adjustable foot rest<br>
   <i class="fa fa-umbrella padding-right-five"></i>Foam pad for an optimal adjustment<br>
    <i class="fa fa-umbrella padding-right-five"></i>One, universal size</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <p></p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   


        </div>
</div>
		
