
<style type="text/css">
	.animated { visibility:hidden; !important;}
	.one_half img{
		width: 400px;
		height: 400px;
	}
</style>
<div style="inline-table;padding-top: 25%;" class="width-100">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Our Catalogues</h1>
                    <h3 class="services-page-subheading"></h3>
                </div>
            </div>
															
        <div class="row">
			<div class="webinar_content">
		<div class="col-md-4 padding-10">
			<div class="one_half">
				<a href="../../assets/catalogue/meyra.pdf">
				<img src="../../assets/catalogue/meyra.png" alt="Catalogue"></a>
			</div>
		</div>
		<div class="col-md-4 padding-10">
		<div class="one_half">
			<a href="../../assets/catalogue/qmed.pdf">
		<img src="../../assets/catalogue/qmed.png" alt="Catalogue"></a>
		</div>
	</div>
	<div class="col-md-4 padding-10">
		<div class="one_half">
			<a href="../../assets/catalogue/activeline.pdf"><img src="../../assets/catalogue/activeline.png" alt="Catalogue"></a>
		
		</div>
	</div>
	</div>
			
		</div>


</div>

