
<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;padding-bottom: 100px;">	
        
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Wheel Chairs and Power Wheel Chairs</h1>
                   <!--  <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-one fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/1.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-two fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/2.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-three fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/3.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-four fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/4.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-five fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/5.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-six fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/6.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-seven fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/7.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eight fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/8.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-nine fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/9.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ten fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/10.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eleven fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/11.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twelve fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/12.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thirteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/13.jpg" alt="product">
                </div>
                <div class="col-md-6">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fourteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/14.jpg" alt="product">
                </div>      

            </div>
           

            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fifteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/15.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sixteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/16.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-seventeen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/17.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eighteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/18.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-nineteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/19.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/20.jpg" alt="product">
                </div>      

            </div>



                     <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-one fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/21.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-two fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/22.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-three fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/23.jpg" alt="product">
                </div>
                <div class="col-md-6">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-four fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/24.jpg" alt="product">
                </div>      

            </div>
           

            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-five fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/25.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-six fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/26.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-seven fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/27.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twenty-eight fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/chairs/28.jpg" alt="product">
                </div>      

            </div>
               

        </div>
</div>
