<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Elbow Products Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <!--Product starts here -->
            <h4 class="service-heading" style="text-">EPImedical - Elbow Bandage with Silicone Pads:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/elbow/1.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

Highly effective elbow bandage with integrated
compression pads. The pads surround the lateral
and medial epicondylus, provide better joint stability
and relieve extensor and flexor.<br>

Indications:<br>
	
    <i class="fa fa-hand-o-right padding-right-five"></i>General irritations and rheumatic diseases of the elbow<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Tennis and golfer elbow<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Distorsions<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Arthrosis<br><br>
                    
      

    <i class="fa fa-umbrella padding-right-five"></i>Knitted fabric for optimal comfort and better adjustment to body shape<br>
    <i class="fa fa-umbrella padding-right-five"></i>Two pads for pressure distribution at the epicondyles<br>
    <i class="fa fa-umbrella padding-right-five"></i>Usable for left and right side<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: silver-blue, black</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">0</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Ankle circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">17 - 19</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">19 - 21</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">21 - 23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 25</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">25 - 27</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">27 - 29</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">29 - 31</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

                     <!--Product starts here -->
            <h4 class="service-heading" style="text-">Elbow Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/elbow/2.png" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Further treatment of elbow injury, prevention of elbow overload; inflammations of soft tissues near elbow, pain syndromes of various etiology, tenis elbow, golfer’s elbow.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>tutor made of multidirectionally flexible, breathable knitted fabrics,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional silicone pelota inserts provide relief of muscle attachments near elbow, improve blood supply and process of nourishing the tissues,<br>
    <i class="fa fa-umbrella padding-right-five"></i>universal model for left and right elbow.</p><br><br>
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Circumference* (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">20 - 23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 25</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">25 - 28</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">28 - 30</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Elbow Safe Elbow Support:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/elbow/3.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Follow-up treatment of elbow joint injuries; preventive treatment of overstrains of elbow joint; follow-up treatment of tennis elbow and golfer’s elbow; elbow joint pain syndromes of different etiology; soft tissue disorders.
                    	<br><br>
                    
      

<i class="fa fa-umbrella padding-right-five"></i>highly elastic, breathable fabric with Lycra® addition ensures optimal adaptation to body shape,<br>
<i class="fa fa-umbrella padding-right-five"></i>additional circumferential strap with hook-and-loop closure,<br>
<i class="fa fa-umbrella padding-right-five"></i>additional pads and straps relieve attachments of muscles extensor and flexor of carpal joint,<br>
<i class="fa fa-umbrella padding-right-five"></i>ensures optimal, therapeutic compression,<br>
<i class="fa fa-umbrella padding-right-five"></i>colour: grey-purple,<br>
<i class="fa fa-umbrella padding-right-five"></i>one, universal model for left and right limb.</p><br><br>
    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Circumference measured 5 cm<br>below elbow joint (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">20 - 23</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">23 - 26</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">26 - 29</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">29 - 32</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">32 - 34</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">Elbow Joint Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/elbow/4.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Treatment, curing and rehabilitation of injuries to joint structures which require limitation of pronation and supination of the forearm and controlled motion.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>designed for forearm and shoulder,<br>
    <i class="fa fa-umbrella padding-right-five"></i>single ROM hinge for controlled motion (adjustment every 10 °),<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional carrying strap for better relief and limb support,<br>
    <i class="fa fa-umbrella padding-right-five"></i>length and circumference adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two versions: left and right,<br>
    <i class="fa fa-umbrella padding-right-five"></i>colour: grey.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              		<p>One, universal size</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->


           


        </div>
</div>
