

<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">We Are UAE Exclusive Distributor Of</h1>
                    <h3 class="services-page-subheading">Building relationships through Patient care and Innovation</h3>
                </div>
            </div>
            <div class="container">
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-one fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">QMED</h4>
                    <h3 class="services-page-subheading">To Make Your Life Easier!</h3> 
<div><img src="../../assets/exdis/qmed.png"/></div>
                    <p class="text-muted text-align-justiy" style="margin-top: 10px;"><span style="margin-left: 30%;"></span>MDH Ltd is becoming a leader with the largest share in portfolio of goods and services purchased by medical retailers in Poland.
MDH philosophy is to fulfill customer expectations in terms of quality, design and novelty of products and services. Cooperation with mdh guarantees business success to each of our partners.
It is also an innovative supplier of noninvasive orthotic products and rehabilitation aids in Central and Eastern Europe. MDH Ltd business activities encompass manufacturing, import, export and distribution. We are the producer of diagnostic footwear, orthotic products and rehabilitation aids.

MDH has the largest share in the portfolio of goods and services purchased by medical retailers in Poland.<br>

</p><br><br>
                </div>              
</div>
<!-- ends here -->
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-two fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">OKM SYSTEM</h4>
                    <h3 class="services-page-subheading">OKM - specialists in technical solutions for orthopedics.</h3> 
                    
<div> <img src="../../assets/logos/okm.jpg"><img src="../../assets/exdis/okm.jpg"></div>
                    <p class="text-muted text-align-justiy" style="margin-top: 10px;"><span style="margin-left: 30%;"></span>OKM was set up in 2000 as a result of collaboration between experts in orthopedic techniques and specialists in the chemical industry, in order to develop new products and techniques in the field of technical orthopedic. We export to over forty countries and we are pleased to count between our clients with most important and experienced centers in the world. There are three main lines of products: orthotics, materials and positioning.<br>
Our aim is to develop top quality products designed to suit the needs of orthopedic professionals and at the same time bring comfort to their patients.
We assign a large part of our resources to innovation. We bet for direct customer service, and direct and personalized attention.

</p><br><br>
                </div>              
</div>
<!-- ends here -->
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-three fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MEYRA MEDICAL</h4>
                    <h3 class="services-page-subheading">MEYRA has stood for consolidated expertise, great dedication and a strong brand for more than 75 years – for our common goal</h3>
<div> <img src="../../assets/logos/mm.jpg"><img src="../../assets/02.jpg"></div>
                    <p class="text-muted text-align-justiy" style="margin-top: 10px;"><span style="margin-left: 30%;"></span>
We are proud to present high quality orthopaedic aids developed for effective treatment and comfortable, everyday use. Our manufacturing process complies with highest standards. The materials employed, comprehensive quality control and extensive knowledge of our specialists – all those factors create legendary, world-renowned Meyra quality. <br>

<strong>Materials employed meet the most demanding requirements:</strong> <br>
<i class="fa fa-hand-o-right padding-right-five"></i>regularly conducted quality control,<br> 
<i class="fa fa-hand-o-right padding-right-five"></i>use of elastane, Lycra, polyester,<br>
<i class="fa fa-hand-o-right padding-right-five"></i>skin-friendly. <br>
<strong>Product functionality complies with medical aid technical standards:</strong> <br>
<i class="fa fa-hand-o-right padding-right-five"></i>bi-elastic knitted fabric without constrictions at the edges, <br>
<i class="fa fa-hand-o-right padding-right-five"></i>relieving silicone gel pads,<br>
<i class="fa fa-hand-o-right padding-right-five"></i>reinforcing elements for stabilization, <br>
<i class="fa fa-hand-o-right padding-right-five"></i>safe and easy Velcro fasteners.<br><br>
<span style="margin-left: 30%;"></span>Meyra Medical products comply with strict requirements for medical devices imposed by German law. One of the most essential is physiological comfort. It can be easily assessed on the basis of heat insulation and sweat transport of the fabric. The analysis of the above factors can prove whether the microclimate between the skin and the fabric is acceptable. The diagram below presents the test results of Genu Meyra bandage. It’s evident that they are considerably below the temperature and relative humidity limits established for medical devices which ensure high wear ability and comfort of use.<br>
<strong>Skin Tolerability</strong> : Cytotoxicity occurs when chemical substances cause harm to the skin. All Meyra Medical products have been tested accordingly and the test results stays considerable below legal limits. It means that all the orthoses are skin-friendly and can be comfortably used for a long time.<br>

</p><br><br>
                </div>              
</div>
<!-- ends here -->



        </div>
</div>
