

<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Finger Product Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Butonier Splint:</h4>
            	<div class="row text-center" style="padding-bottom: 100px;">
                <div class="col-md-2">                   
    				<img src="../../assets/finger/1.jpg" alt="neck-product1">
    				<br><br>
					<img src="../../assets/finger/1x.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">This is a finger splint made of thermoplastic material and which keeps the finger in extension accordion to the 3-point principle.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              	<tbody>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
				</tr>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">(cm)</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4,5 - 5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5 - 6</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6 - 7</td>
				</tr>
				</tbody>
				</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Baseball Splint:</h4>
            	<div class="row text-center" style="padding-bottom: 100px;">
                <div class="col-md-2">                   
    				<img src="../../assets/finger/2.jpg" alt="neck-product1">
    				<br><br>
					<img src="../../assets/finger/2x.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Finger splints manufactured of special aluminum with inner plastizode coating. Provides finger immobilization in extension. Best for finger extensions, tendon and nerve injuries, strains and sprains.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              <tbody>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">0</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
				</tr>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">(cm)</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4 - 4,5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4,5 - 5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5 - 5,5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5,5 - 6</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6 - 6,5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6,5 - 7</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">7 - 8</td>
				</tr>
				</tbody>
				</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Mallet Finger Splint:</h4>
            	<div class="row text-center" style="padding-bottom: 100px;">
                <div class="col-md-2">                   
    				<img src="../../assets/finger/3.jpg" alt="neck-product1">
    				<br><br>
					<img src="../../assets/finger/3x.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Finger splint manufactured of special plastic material, keeping the DIP joint in extension. The fingers are mobile from PIP joint on. Generally preferred for extensor tendon injuries, fractures, strains and sprains.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
             <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              	<tbody>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
				</tr>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">(cm)</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4,5 - 5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5 - 6</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6 - 7</td>
				</tr>
				</tbody>
				</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Frog Splint:</h4>
            	<div class="row text-center" style="padding-bottom: 100px;">
                <div class="col-md-2">                   
    				<img src="../../assets/finger/4.jpg" alt="neck-product1">
    				<br><br>
					<img src="../../assets/finger/4x.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Finger splints manufactured of special aluminum with inner plastizode coating. Provides finger immobilization in extension. Best for finger extensions, tendon and nerve injuries, strains and sprains.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
             <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              	<tbody>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
				</tr>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">(cm)</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4,5 - 5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5 - 6</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6 - 7</td>
				</tr>
				</tbody>
				</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Finger Stabilizer Splint (ORT-02S):</h4>
            	<div class="row text-center" style="padding-bottom: 100px;">
                <div class="col-md-2">                   
    				<img src="../../assets/finger/5.jpg" alt="neck-product1">
    				<br><br>
					<img src="../../assets/finger/5x.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">These are finger splints made of special aluminum, covered with plastizode inside. Provides finger immobilization in extension. Used for finger fractures, tendon and nerve injuries, strains and sprains.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              	<tbody>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
				</tr>
				<tr>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">(cm)</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4,5 - 5</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5 - 6</td>
				<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6 - 7</td>
				</tr>
				</tbody>
				</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->
            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Straight Finger Splint:</h4>
            	<div class="row text-center" style="padding-bottom: 100px;">
                <div class="col-md-2">                   
    				<img src="../../assets/finger/6.jpg" alt="neck-product1">
    				<br><br>
					<img src="../../assets/finger/6x.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Finger splints manufactured of special aluminum with inner plastizode coating. Provides finger immobilization in extension. Best for finger extensions, tendon and nerve injuries, strains and sprains.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <p>
              	Standard Size.
              </p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

        </div>
</div>
