<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Foot Product Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Silicone heel pads made of silicone of different density.</h4>
	<br><div><img alt="foot" src="../../assets/foot/1.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Elastic toe protector prevents pressure and abrasion.</h4>
	<br><div><img alt="foot" src="../../assets/foot/2.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Silicon separator prevents irritations, toe overlapping and relieves pain.</h4>
	<br><div><img alt="foot" src="../../assets/foot/3.jpg"></div>
	</div>                 
</div>
<!-- ends here -->
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Silicone heel pads made of silicone of different density.</h4>
	<br><div><img alt="foot" src="../../assets/foot/4.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Elastic toe protector prevents pressure and abrasion.</h4>
	<br><div><img alt="foot" src="../../assets/foot/5.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Silicon separator prevents irritations, toe overlapping and relieves pain.</h4>
	<br><div><img alt="foot" src="../../assets/foot/6.jpg"></div>
	</div>                 
</div>
<!-- ends here -->
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Gel hallux valgus protector prevents pressure and abrasion.</h4>
	<br><div><img alt="foot" src="../../assets/foot/7.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Elastic hallux valgus protector with lateral silicone pad.</h4>
	<br><div><img alt="foot" src="../../assets/foot/8.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Anatomically - shaped silicone separator of hallux valgus which adjusts to toe position.</h4>
	<br><div><img alt="foot" src="../../assets/foot/9.jpg"></div>
	</div>                 
</div>
<!-- ends here -->
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">It supports transverse arch of the foot, may be used in the shoe or while walking barefoot.</h4>
	<br><div><img alt="foot" src="../../assets/foot/10.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Plaster protection, can be used on both right and left foot.</h4>
	<br><div><img alt="foot" src="../../assets/foot/11.jpg"></div>
	</div>
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">After surgical treatments in forefoot area, for diabetic foot syndrome, after hallux operation, at venous stasis in feet area.</h4>
	<br><div><img alt="foot" src="../../assets/foot/12.jpg"></div>
	</div>                 
</div>
<!-- ends here -->
<!--Product starts here -->
	<h4 class="service-heading" style="text-"></h4>
<div class="row text-center">         
	<div class="col-md-4">
	     <span class="fa-stack fa-4x"></span>
	     <h4 class="service-heading">Corrective apparatus for hallux valgus</h4>
	<br><div><img alt="foot" src="../../assets/foot/13.jpg"></div>
	</div>     
</div>
<!-- ends here -->


        </div>
</div>
