
<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Hip Product Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Hip Joint Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/neck/hip.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Help in treatment and rehabilitation process in case of injuries, illnesses and hip joint dysfunctions, post-operative hip compression after anastomoses of intertrochanteric fractures, intertrochanteric osteotomies and the endoprosthetics, overstrain changes of the hip joint, degenerative changes of the hip joint, pain syndromes of various etiology.<br>
                    
                    	

    <i class="fa fa-umbrella padding-right-five"></i>the orthosis consists of elastic straps which cover hips and thigh band made of polyamide knitted fabric with Lycra ®, finished with hook and loop fastener,<br>
    <i class="fa fa-umbrella padding-right-five"></i>hip pad made of the polyurethane foam laminated with velour knitted fabric,<br>
    <i class="fa fa-umbrella padding-right-five"></i>pentapro foil edged with the velour knitted fabric works as additional, removable stabilization element,<br>
    <i class="fa fa-umbrella padding-right-five"></i>thanks to its structure, the orthosis<br> stabilizes hip joint, enables controlled motion and provides compression of soft tissues,<br>
    <i class="fa fa-umbrella padding-right-five"></i>left and right version,<br>
    <i class="fa fa-umbrella padding-right-five"></i>colour: black.</p><br><br>



                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Hip circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 -105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">105 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 140</td>
</tr>
</tbody>
</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->






        </div>
</div>
