<div id="wrapper">
<header id="header" class="sticky-header">
<div class="sticky-shadow">
	<div class="avada-row">
		<div class="logo">
			<a href="http://ortekmedical.com/">
				<img alt="Ortek Medical" src="../../assets/logo.jpg" title="Ortek Medical" style="float: left;width:200px;height:auto;">
							</a>
		</div>
	</div>
	</div>	
		<nav id="nav" class="nav-holder" style="background: #fff;">
		<ul id="nav" class="menu">
			<!-- <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4487"><a href="http://ortekmedical.com/">Home</a></li> -->
			<li id="menu-item-4487" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4487"><a href="http://ortekmedical.com/">About Us</a></li>
	<li id="menu-item-4490" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4490"><a href="#">Product Lines</a>
<ul class="sub-menu">
	<li id="menu-item-4772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4772"><a href="#">Orthopedic</a></li>
	<li id="menu-item-4773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4773"><a href="#">Orthotic Prosthetic</a></li>
	<li id="menu-item-4555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4555"><a href="#">Spine</a></li>
	<li id="menu-item-4564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4564"><a href="#">Insole</a></li>
	<li id="menu-item-4565" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4565"><a href="#">Rehabilitation</a></li>
	<li id="menu-item-4568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4568"><a href="#">Therapeubic Aids</a></li>
</ul>
</li>
<li id="menu-item-4491" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4491"><a href="#">Service</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Exclusive Distributor</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Brands</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Recognized Partner</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Videos</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Images</a></li>
<li id="menu-item-4488" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4488"><a href="#">Location</a></li>
<li id="menu-item-4492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4492"><a href="#">Contact</a></li>
								</ul>
		</nav>
</header>
		<div id="sliders-container">
									
				<!-- START REVOLUTION SLIDER 3.0.95 fullwidth mode -->
				
								
								<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;max-height:300px;">
					<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:300px;height:300;">						
										<ul>
								<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
			<img src="../../assets/dummy.gif"  alt="slider_kolica_3" data-lazyload="../../assets/OKM_slide_1.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_block_white_trans fade"
					 data-x="10" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >Medical products can only be 100% effective if they are a precise fit					 					 </div>
				
								<div class="tp-caption avada_block_white_trans fade"
					 data-x="10" 
					 data-y="175" 					 data-speed="300" 
					 data-start="800" 
					 data-easing="easeOutExpo"  >Correct product can be selected and individually adapted					 					 </div>
				
									</li>
									<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="../../assets/dummy.gif"  alt="3" data-lazyload="../../assets/OKM_slide_2.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_block_white_trans fade"
					 data-x="10" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >Taking care of details					 					 </div>
				
								<div class="tp-caption avada_block_white_trans fade"
					 data-x="11" 
					 data-y="center" data-voffset="42" 					 data-speed="300" 
					 data-start="800" 
					 data-easing="easeOutExpo"  >It is our goal to provide best product every time					 					 </div>
				
									</li>
									<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="../../assets/dummy.gif"  alt="front_page_slider" data-lazyload="../../assets/OKM_slide_3.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >					 					 </div>
				
								<div class="tp-caption avada_block_white_trans fade"
					 data-x="14" 
					 data-y="center" data-voffset="-2" 					 data-speed="300" 
					 data-start="800" 
					 data-easing="easeOutExpo"  >Helping others is a privilege and an honor</div>
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="../../assets/dummy.gif"  alt="front_page_slider" data-lazyload="../../assets/OKM_slide_4.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >					 					 </div>
				
								<div class="tp-caption avada_block_white_trans fade"
					 data-x="14" 
					 data-y="center" data-voffset="-2" 					 data-speed="300" 
					 data-start="800" 
					 data-easing="easeOutExpo"  >Our service is our goal					 					 </div>
				
									</li>
								</ul>
														</div>
				</div>				
							
			<script type="text/javascript">

				var tpj=jQuery;
				
									tpj.noConflict();
								
				var revapi1;
				
				tpj(document).ready(function() {
				
				if (tpj.fn.cssOriginal != undefined)
					tpj.fn.css = tpj.fn.cssOriginal;
				
				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						delay:9000,
						startwidth:960,
						startheight:300,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						
						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"round",
						
						touchenabled:"on",
						onHoverStop:"on",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						videoJsPath:"http://otb-uae.com/html/wp-content/plugins/revslider/rs-plugin/videojs/",
						fullScreenOffsetContainer: ""	
					});
				
				});	//ready
				
			</script>
			
							<!-- END REVOLUTION SLIDER -->
								</div>
																<div id="main" class="width-100" style="overflow:hidden !important;padding-left:0px;padding-right:0px;">
		<div class="avada-row" style="max-width:100%;">
				<div id="content" class="full-width">
				<div id="post-3610" class="post-3610 page type-page status-publish hentry">
			<span class="entry-title" style="display: none;">Home Page</span>
			<span class="updated" style="display: none;">March 1st, 2015</span>
			<span class="vcard" style="display: none;"><span class="fn"><a href="http://ortekmedical.com" title="Posts by CeeJey" rel="author">CeeJey</a></span></span>
						<div class="post-content">
				<div class="demo-sep sep-none" style="margin-top:-55px;"></div>
<div class="fullwidth-box" style="background-color:#f8f8f8;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:1px solid #e5e4e4;border-bottom:1px solid #e5e4e4;padding-top:20px;padding-bottom:15px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<h1 style="text-align: center; font-size: 30px !important;">ORTEK Medical Equipment Trading LLC bringing state of art products and technology in healthcare to Middle East</h1>
<!-- <p style="text-align: center; margin-top: -10px;">Orthopadie Technic Berlin MPC LLC is joint venture between</p>
<p style="text-align: center; margin-top: -10px;"><img class="aligncenter size-full wp-image-4884" alt="final_logo" src="http://otb-uae.com/html/wp-content/uploads/2013/05/final_logo.png" width="636" height="172" /></p> -->
</div></div>
<div class="fullwidth-box" style="background-color:#fff;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:0px solid #e5e4e4;border-bottom:0px solid #e5e4e4;padding-top:55px;padding-bottom:30px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<p style="text-align: center;"><img class="aligncenter size-full wp-image-4685" alt="about_us_" src="../../assets/about_us.png" width="194" height="44" /></p>
<h1 style="text-align: center; font-size: 30px !important;">We Are Dedicated To Our Patients</h1>
<p style="text-align: center; margin-top: -10px;">ORTEK is bringing motion to your life</p>
<div class="demo-sep sep-double" style="margin-top:40px;margin-bottom:40px"></div>
<div class="one_third"><span class="dropcap">ORTEK</span> refers lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum.<br />
</div>
<div class="one_third"> Under the performance centre the patient can practically try the products and lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum.<br />
<a href="#"> Read more</a></div>
<div class="one_third last">
<div class="accordian">
<h5 class="toggle "><a href="#"><span class="arrow fa fa-plus-square fa-2x"></span>IMAGE 3D VIDEO</a></h5><div class="toggle-content " style="">Image 3D video, the innovative measurement system, provides precise, three-dimensional measurements of the legs to allow for accurate fitting of compression stockings and effective monitoring of treatment progress. Image 3D video enables the best possible care to be offered and is a state-of-the-art response to the demand for high-quality treatment using compression stockings. <a href="http://www.bauerfeind.com/en/products/measurement-technology/image3d.html" target="_blank">More </a></div>
<h5 class="toggle "><a href="#"><span class="arrow fa fa-plus-square fa-2x"></span>BODYTRONICS 100</a></h5><div class="toggle-content " style="">The computer-aided Bodytronic 100 foot pressure measurement system identifies the individual load points of the foot quickly and accurately. The graphical image shows the status of the foot and the use of different colors allows the various load areas to be identified and interpreted easily. The result is that the best possible orthopedic foot orthoses and shoes can be selected for each individual. <a href="http://www.bauerfeind.com/en/products/measurement-technology/bodytronic100.html" target="_blank">More</a></div>
<h5 class="toggle "><a href="#"><span class="arrow fa fa-plus-square fa-2x"></span>BODYTRONICS 200</a></h5><div class="toggle-content " style="">The first wireless light reflection rheography system in the market that allows for early detection of venous disorders which may lead to varicose veins and more serious conditions in the lower legs. Venous pumping power and refill time can be measured quickly and easily within just a few minutes. <a href="http://www.bauerfeind.com/en/products/measurement-technology/bodytronic200.html" target="_blank">More</a></div>
<h5 class="toggle "><a href="#"><span class="arrow fa fa-plus-square fa-2x"></span>BODYTRONICS 400</a></h5><div class="toggle-content " style="">Bodytronic 300 uses a unique scanning technique to accurately measure the individual shape of your lower leg and feet and generates a digital 3D model. At the same time, static foot pressure is detected with an integral pressure plate. The medical retailer can use the measurement results for the production of orthoses and custom-made shoes, the supply of compression knee stockings and the selection of sports, comfort and diabetic shoes. <a href="http://www.bauerfeind.com/en/products/measurement-technology/bodytronic300.html" target="_blank">More</a> </div>
</div>
<p>&nbsp;</p>
</div><div class="clearboth"></div>
</div></div>



<div class="fullwidth-box" style="background-color:;background-image:url(../../assets/page_bkgd10.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;border-top:1px solid #e5e4e4;border-bottom:1px solid #e5e4e4;padding-top:100px;padding-bottom:100px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<p style="text-align: center;"><img class="aligncenter size-full wp-image-4680" alt="we_help_people" src="../../assets/we_help_people1.png" width="741" height="209" /></p>
<p style="text-align: center;"><span style="line-height: 1.5em;"></div></div></span></p>
<p style="text-align: center;">
<div class="fullwidth-box" style="background-color:;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:0px solid #f6f6f6;border-bottom:0px solid #f6f6f6;padding-top:0px;padding-bottom:0px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<style type='text/css'>
		#content-boxes-1 article.col{background-color:transparent !important;}
		#content-boxes-1 .fontawesome-icon.circle-yes{color:#333333 !important;background-color:#fff !important;border:1px solid #333333 !important;}
		</style><section class="clearfix columns content-boxes content-boxes-icon-on-top columns-3" id="content-boxes-1">
<article class="col"><div class="heading heading-and-icon"><i class="fontawesome-icon medium circle-yes fa fa-space-shuttle" ></i><h2>Our start</h2></div><div class="col-content-container ">ORTEK lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</div></article>
<article class="col"><div class="heading heading-and-icon"><i class="fontawesome-icon medium circle-yes fa fa-leanpub" ></i><h2>Working towards education</h2></div><div class="col-content-container "> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum. </div></article>
<article class="col"><div class="heading heading-and-icon"><i class="fontawesome-icon medium circle-yes fa fa-check-square-o" ></i><h2>High qualilty products</h2></div><div class="col-content-container "> ORTEK has been estabilished to provide lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</div></article>
</section>
</div></div>
<div class="demo-sep sep-none" style="margin-top:55px;"></div>


<div class="fullwidth-box" style="background-color:#f8f8f8;background-image:url(../../assets/page_bkgd1.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;border-top:0px solid ;border-bottom:0px solid ;padding-top:200px;padding-bottom:200px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<div class="demo-sep sep-" style="margin-top:25px;margin-bottom:25px"></div>
<!-- <p style="text-align: center;"><img class="size-full wp-image-4677 aligncenter" alt="commited_to_serve" src="http://otb-uae.com/html/wp-content/uploads/2013/05/commited_to_serve.png" width="741" height="209" /></p> -->
<h1 style="text-align: center;"><span style="font-size: 14px; line-height: 1.5em;"> </span></h1>
<div class="video-front-page" style="margin: 0 auto; width: 540px;"><span style="line-height: 1.5em;"></div></div></span></div>
<div class="fullwidth-box" style="background-color:#fff;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:0px solid #e5e4e4;border-bottom:0px solid #e5e4e4;padding-top:65px;padding-bottom:20px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<div class="one_half" style="width: 450px;">
<div class="title"><h2>We believe our success worldwide is pronounced through education, quality and service </h2><div class="title-sep-container"><div class="title-sep"></div></div></div>
<div><style type='text/css'>
	.post-content #checklist-1 li:before{color:#747474 !important; content:'\f005' }
	.rtl .post-content #checklist-1 li:after{color:#747474 !important; content:'\f005' }
	</style></div>
<div></div>
<ul id="checklist-1" class="list-icon circle-no list-icon-star">
<li><strong>Mission</strong> &#8211; Increase Awareness in society for better health and Mobility.</li>
<li><strong>Vision</strong> &#8211;    Improve competance level and Excellence in Healthcare.</li>
<li><strong>Goal</strong> &#8211; Create Benchmark in healthcare industry thorugh better quality , education and service.</li>
</ul>

</div>
<div class="one_half last">
<iframe width="450" height="290" src="https://www.youtube.com/embed/dhvfSTaHTOM"></iframe>
</div>
<div class="one_half" style="width: 450px;">
<iframe width="450" height="290" src="https://www.youtube.com/embed/5xU906rs73A"></iframe>
</div>
<div class="one_half last">
<iframe width="450" height="290" src="https://www.youtube.com/embed/2g6UkZK7xWA"></iframe>
</div>
<div class="clearboth"></div>
</div></div>
<div class="fullwidth-box" style="background-color:#f8f8f8;background-image:url(../../assets/bg.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:fixed;border-top:1px solid #e5e4e4;border-bottom:1px solid #e5e4e4;padding-top:55px;padding-bottom:45px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<h1 style="text-align: center; font-size: 30px !important;">We have numerous of satisfied clients</h1>
<p style="text-align: center; margin-top: -15px;"><span style="color: #eee;"><strong>We love our clients, and we have individual approach to each and every one of them</strong></span></p>
<div class="demo-sep sep-" style="margin-top:45px;margin-bottom:45px"></div>
<div class="one_third">
<div class="review male"><blockquote><q>The seating system made by Joana Santiago and ORTEK team is brilliant without question. They listened well and acted accordingly, worked hard and kept adapting until it was properly sorted.  It’s amazing what they have done to get the chair looking so good and for our son to feel comfortable and secure. </q><div class="clearfix"><span class="company-name"><i class="fa fa-user fa-2x"></i><strong>Mohammed Aslam</strong></span></div></blockquote></div>
</div>
<div class="one_third">
<div class="review male"><blockquote><q>The seating system made by Joana Santiago and ORTEK team is brilliant without question. They listened well and acted accordingly, worked hard and kept adapting until it was properly sorted.  It’s amazing what they have done to get the chair looking so good and for our son to feel comfortable and secure. </q><div class="clearfix"><span class="company-name"><i class="fa fa-user fa-2x"></i><strong>Lubaib Jamal</strong></span></div></blockquote></div>
</div>
<div class="one_third">
<div class="review male"><blockquote><q>The seating system made by Joana Santiago and ORTEK team is brilliant without question. They listened well and acted accordingly, worked hard and kept adapting until it was properly sorted.  It’s amazing what they have done to get the chair looking so good and for our son to feel comfortable and secure. </q><div class="clearfix"><span class="company-name"><i class="fa fa-user fa-2x"></i><strong>Mohammed Hafeef</strong></span></div></blockquote></div>
</div>
<div class="clearboth"></div>
</div></div>
<div class="fullwidth-box" style="background-color:;background-image:url();background-repeat:no-repeat;background-position:center center;background-attachment:fixed;border-top:0px solid #e5e4e4;border-bottom:0px solid #e5e4e4;padding-top:50px;padding-bottom:45px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<style type='text/css'>#reading-box-container-1 .tagline-shadow:before,#reading-box-container-1 .tagline-shadow:after{opacity:0.7;}</style><div class="reading-box-container clearfix" id="reading-box-container-1"><section class="reading-box tagline-shadow" style="background-color:#ffffff !important;border-width:1px;border-color:#e5e4e4!important;border-left-width:3px !important;border-left-color:#fcd00f !important;border-style:solid;"><a href="#" target="#" class="continue button large default">Contact us</a><h2>ORTEK lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</h2><p>ORTEK is awarded lorem ipsum lorem ipsumloremlorem ipsumlorem ipsumlorem lorem ipsum lorem ipsumlorem lorem ipsum.</p><a href="#" target="#" class="continue mobile-button button large default">Contact us</a></section></div>
</div></div>
<div class="demo-sep sep-none" style="margin-top:-120px;"></div>
			</div>
					</div>
			</div>
		</div>
	</div>
</div><!-- wrapper -->
