<link rel='stylesheet' id='map_std-css'  href='../../assets/map.css' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='../../assets/contact_style.css' type='text/css' media='all' />
<link rel='stylesheet' id='rs-settings-css'  href='../../assets/revslider_settings.css' type='text/css' media='all' />
<link rel='stylesheet' id='rs-captions-css'  href='../../assets/revslider_captions.css' type='text/css' media='all' />
<link rel='stylesheet' id='layerslider_css-css'  href='../../assets/layer_slider.css' type='text/css' media='all' />
<link rel='stylesheet' id='wooslider-flexslider-css'  href='../../assets/flex_slider.css' type='text/css' media='all' />
<link rel='stylesheet' id='wooslider-common-css'  href='../../assets/flex_slider_style.css' type='text/css' media='all' />

<script type='text/javascript' src='../../assets/jquery.themepunch.revolution.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='../../assets/layerslider-jquery.js?ver=4.6.5'></script>
<script type='text/javascript' src='../../assets/layerslider-easing.js?ver=1.3.0'></script>
<script type='text/javascript' src='../../assets/jquery-transit.js?ver=0.9.9'></script>
<script type='text/javascript' src='../../assets/layerslider-transitions.js?ver=4.6.5'></script>


<header id="header" class="sticky-header">
			<div class="sticky-shadow">
				<div class="avada-row">
					<div class="logo">
						<div class="logo-tagline" style="font-size: 9px;">O R T E K  Medical Equipment</div>
						<a href="http://ortekmedical.com/">
							<img alt="Ortek Medical" src="../../assets/logo.jpg" title="Ortek Medical" style="float: left;width:150px;height:auto;">
						</a>
					</div>
					<!-- <span class="logo-tagline" style="font-size: 14px;margin: 76px 0 0 10px;">O R T E K  Medical Equipment Trading L.L.C</span> -->
				</div>
			</div>	
		<nav id="nav" class="nav-holder" style="background:#fff;">
			<ul id="nav" class="menu">
				<!-- <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4487"><a href="http://ortekmedical.com/">Home</a></li> -->
				<li id="menu-item-4487" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4487">
								<a href="/about_us">About Us</a>
							</li>
							<li id="menu-item-4490" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4490">
								<a href="/product_lines">Product Lines</a>
								<ul class="sub-menu">
									<li id="menu-item-4772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4772"><a href="/product_lines">Orthopedic Braces & Supports</a></li>
									<li id="menu-item-4773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4773"><a href="/orthotic_prosthetic">Orthotic Prosthetic</a></li>
									<li id="menu-item-4555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4555"><a href="/spinal">SPINAL Braces & Orthoses</a></li>
									<li id="menu-item-4564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4564"><a href="/product_lines">Insole</a></li>
									<li id="menu-item-4565" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4565"><a href="/rehabilitation_aids">Rehabilitation Aids</a></li>
									<li id="menu-item-4568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4568"><a href="/product_lines">Therapeubic Aids</a></li>
								</ul>
							</li>
							<li id="menu-item-4491" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4491"><a href="/services">Services</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/exclusive_distributor">Exclusive Distributor</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/brands">Our Brands</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Recognized Partner</a>
								<ul class="sub-menu">
									<li id="menu-item-4772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4772"><a href="http://spineislass.org">SpineISLASS</a></li>
								</ul>
							</li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Education</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/videos">Videos</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/images">Images</a></li> <li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Membership</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/catalogue">Catalogue</a></li>
							<li id="menu-item-4488" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4488"><a href="/location">Location</a></li>
							<li id="menu-item-4492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4492"><a href="/contact_us">Contact</a></li>
			</ul>
		</nav>
</header>
		<div id="sliders-container">
				<!-- START REVOLUTION SLIDER 3.0.95 fullwidth mode -->
				
				<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;max-height:600px;">
					<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:600px;height:600px;">						
						<ul>
							<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
								<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="slider_kolica_3" data-lazyload="../../assets/okm02.jpg" data-fullwidthcentering="on" style="position: inherit;">
									<!-- <div class="tp-caption avada_block_white_trans fade" data-x="10" data-y="center" data-voffset="0" data-speed="300" data-start="500" data-easing="easeOutExpo"> Medical products can only be 100% effective if they are a precise fit					 					 </div>
				
								<div class="tp-caption avada_block_white_trans fade" data-x="10" data-y="175" data-speed="300" data-start="800" data-easing="easeOutExpo"> Correct product can be selected and individually adapted </div> -->
				
							</li>
									<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="3" data-lazyload="../../assets/okm03.jpg" data-fullwidthcentering="on">
				
									</li>
									<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/okm01.jpeg" data-fullwidthcentering="on">
				
									</li>
							<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/care2.jpg" data-fullwidthcentering="on">
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/okm4.jpg" data-fullwidthcentering="on">
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/okm5.jpg" data-fullwidthcentering="on">
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/okm6.jpg" data-fullwidthcentering="on">
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/01.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >					 					 </div>
				
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/02.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >					 					 </div>
				
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/care3.png" data-fullwidthcentering="on">
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/03.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >					 					 </div>
				
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/04.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  ></div>
				
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/05.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  ></div>
				
				
									</li>
					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/06.jpg" data-fullwidthcentering="on">
														<div class="tp-caption avada_huge_white_text fade"
					 data-x="center" data-hoffset="0" 
					 data-y="center" data-voffset="0" 					 data-speed="300" 
					 data-start="500" 
					 data-easing="easeOutExpo"  >					 					 </div>
				
				
									</li>

					<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
						<img src="http://otb-uae.com/html/wp-content/plugins/revslider/../../assets/dummy.png"  alt="front_page_slider" data-lazyload="../../assets/care1.jpg" data-fullwidthcentering="on">
				
									</li>
			
				
								</ul>
														</div>
				</div>				
							
			<script type="text/javascript">

				var tpj=jQuery;
				
				tpj.noConflict();
								
				var revapi1;
				
				tpj(document).ready(function() {
				
				if (tpj.fn.cssOriginal != undefined)
					tpj.fn.css = tpj.fn.cssOriginal;
				
				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						delay:9000,
						startwidth:960,
						startheight:300,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						
						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"round",
						
						touchenabled:"on",
						onHoverStop:"on",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:0,
						fullWidth:"off",
						fullScreen:"off",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						//videoJsPath:"http://otb-uae.com/html/wp-content/plugins/revslider/rs-plugin/videojs/",
						fullScreenOffsetContainer: ""	
					});
				
				});	//ready
				
			</script>
			
							<!-- END REVOLUTION SLIDER -->
								</div>
																<div id="main" class="width-100" style="overflow:hidden !important;padding-left:0px;padding-right:0px;">
		<div class="avada-row" style="max-width:100%;">
				<div id="content" class="full-width">
				<div id="post-3610" class="post-3610 page type-page status-publish hentry">
			<span class="entry-title" style="display: none;">Home Page</span>
			<span class="updated" style="display: none;">May 24th, 2013</span>
			<span class="vcard" style="display: none;"><span class="fn"><a href="http://ortekmedical.com" title="Posts by CeeJey" rel="author">CeeJey</a></span></span>
						<div class="post-content">
				<div class="demo-sep sep-none" style="margin-top:-55px;"></div>
<div class="fullwidth-box" style="background-color:#f8f8f8;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:1px solid #e5e4e4;border-bottom:1px solid #e5e4e4;padding-top:20px;padding-bottom:15px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="avada-row">
<h1 style="text-align: center; font-size: 30px; line-height: 30px ! important; font-weight: bold;font-family:calibre;"><strong>O R T E K MEDICAL EQUIPMENT</strong> <br><span style="color: rgb(0, 0, 0); font-size: 20px; text-transform: none; font-weight: 400;">We’re here to raise the Standard of<br> Orthotic, Prosthetic. State of ART Products and Orthopedic Technology to</span></br>EXCELLENCE!</h1>
<!-- <p style="text-align: center; margin-top: -10px;">Orthopadie Technic Berlin MPC LLC is joint venture between</p>
<p style="text-align: center; margin-top: -10px;"><img class="aligncenter size-full wp-image-4884" alt="final_logo" src="http://otb-uae.com/html/wp-content/uploads/2013/05/final_logo.png" width="636" height="172" /></p> -->
</div></div>

<!-- MAIN CONTENT STARTS HERE -->




			</div>
					</div>
			</div>
		</div>
	</div>
			<!-- about us -->		
			
			<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Your Best Support in Life!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../../assets/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ORTEK Medical equipment Trading LLC Dubai starts providing high quality medical equipment, State of the Art, Prosthetic, Orthotic, Orthopedic Braces & Supports, insoles, Medical Shoes, Mobility Aids, wheelchairs, Physio-Rehab products and healthcare services with expert guidance to our clients.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../../assets/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Middle of 2013</h4>
                                    <h4 class="subheading">As an Exclusive Distributor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our team consists of highly qualified professionals providing orthopedic technology in the field of orthotics, prosthetics, Orthopedic and associated products. We pride ourselves on our patient care, the quality of rehabilitation and follow up services. We work to bring the right selection of Medical Rehabilitation Equipment’s including Postural Support and Seating system solutions from professional. And well experienced specialists with greater quality, affordability, access and simplicity to the healthcare system and end users.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../../assets/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Mission</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">To achieve this goal, To provide a necessary service for the community by meeting the specialized needs of Orthotic and Prosthetic patients We consciously try to bridge the gap between brands from all over the world and the local society in a flexible and creative way.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../../assets/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Vision</h4>
                                    <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">To be the partner of choice for services and products that enhance human physical capability. We strive to improve the quality of life and well-being of people and society throughout the UAE.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <!-- <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../../assets/team/1.jpg" class="img-responsive img-circle desaturate" alt="">
                        <h4>Anjali Sensilal</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../../assets/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Mohammed Shahabas</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="../../assets/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Albert</h4>
                        <p class="text-muted">Lead Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section> -->
	
	<!-- Running Girl -->
   	<section id="running-girl" style="padding-top:0px;padding-bottom:0px;">
        <div style="background-color:;background-image:url(../../assets/page_bkgd11.jpg);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;border-top:1px solid #e5e4e4;border-bottom:1px solid #e5e4e4;padding-top:150px;padding-bottom:150px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" class="fullwidth-box"><div class="avada-row">
			<p style="text-align: center;"><img width="741" height="209" src="../../assets/we_help_people1.png" alt="we_help_people" class="aligncenter size-full wp-image-4680"></p>
			<p style="text-align: center;"><span style="line-height: 1.5em;"></span></p></div>
		</div>
	</section>
	<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product Lines</h2>
                    <h3 class="section-subheading text-muted">Putting our patients first while providing the highest with best Orthopedic Care.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Orthotic Prosthetic</h4>
                    <p class="text-muted">Orthotics is the evaluation, fabrication, and custom fitting of orthopedic braces, known as "orthoses".Orthotics combines knowledge of anatomy and physiology, pathophysiology, biomechanics, and engineering. Orthoses are externally applied devices used to modify the structural and functional characteristics of the neuromuscular and skeletal system.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rehabilitation Aids</h4>
                    <p class="text-muted">Mobility has many facets and means something different for everyone: Physical mobility, social independence, a flexible lifestyle. This also applies to persons who are dependent on a wheelchair or other mobility aids. They are entitled to expect mobility aids that are practical and functional, but also in harmony with their personal lifestyle.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Spinal Braces & Orthoses</h4>
                    <p class="text-muted">Spinal orthoses, which include neck and back braces, are used to support and stabilize areas of the body from the jaw to the lower back and cervical spine. These types of orthoses may be used postoperatively to promote proper and safe healing, to treat a chronic disease or condition such as arthritis or used to treat an injury, such as whiplash.</p>
                </div>
            </div>
        </div>
    </section>

	
	<!--Services-->
	<section id="facts" class="facts">
			<div class="parallax-overlay">
				<div class="container">
					<div class="row number-counters">
						
						<div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
							<h2 style="color:#faca01 !important;">Our Services</h2>
							<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
						</div>
						
						<!-- first count item -->
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
							<div class="counters-item">
								<i class="fa fa-stethoscope fa-3x"></i>
								
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Prosthetic Services</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
							<div class="counters-item">
								<i class="fa fa-wheelchair fa-3x"></i>
								
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Orthotic Services</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
							<div class="counters-item">
								<i class="fa fa-ambulance fa-3x"></i>
								
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Pediatric Bracing Services</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
							<div class="counters-item">
								<i class="fa fa-wheelchair fa-3x"></i>
								
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Spinal Orthotic Services</p>
							</div>
						</div>
						<!-- end first count item -->
				
					</div>
				</div>
			</div>
		</section>
	
	

    <!-- Clients  -->
    <Section class="clients" style="padding: 100px 0;">
        <div class="container">
            <div class="row">
				<div class="sec-title text-center">
					<h2 class="section-heading">We Are UAE Exclusive Distributor Of</h2>
					<h3 class="section-subheading text-muted" style=""></h3>
				</div>
			</div>
			<div class="row">
                <div class="col-md-4 col-sm-6 grayscale_check">
                    <a href="#">
                        <img src="../../assets/logos/mm.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 grayscale_check">
                    <a href="#">
                        <img src="../../assets/logos/okm.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 grayscale_check">
                    <a href="#">
                        <img src="../../assets/logos/qmed.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Brands -->
    <section class="bg-light-gray" id="portfolio" style="padding: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Brands</h2>
                    <h3 class="section-subheading text-muted">Moving towards the right direction.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/mm.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Meyra Medical</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="http://qmedinfo.pl/">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/qmed.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>QMED</h4>
                       <!--  <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/okm.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>OKM System</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/ottobock.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Ottobock</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/avan.png">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Avan Insoles</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/schein.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Schein Orthopadie Service</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <!--next-->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/alex.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Alex Athletics</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/com.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Combed</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/alex2.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Alex</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/phyto.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Phyto Performance</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/rs.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>RSL Steeper</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a data-toggle="modal" class="portfolio-link portfolio-link-new" href="#">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-responsive" src="../../assets/logos/yu.jpg">
                    </a>
                    <div class="portfolio-caption" style="border-top: 1px solid #eee;">
                        <h4>Yuwell</h4>
                        <!-- <p class="text-muted">Lorem ipsum dolor sit</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Partner  -->
    <Section class="clients" style="padding: 50px 0;">
        <div class="container">
            <!-- <div class="row">
				<div class="sec-title text-center">
					<h2 class="section-heading">We Are UAE Exclusive Distributors Of</h2>
					<h3 class="section-subheading text-muted" style=""></h3>
				</div>
			</div> -->
			<div class="row">
                <div class="grayscale_check">
                    <a href="http://spineislass.org">
                        <img src="../../assets/islass.jpg" class="img-responsive img-centered" alt="" width="70%">
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- Education  -->
    <section class="bg-light-gray" id="portfolio" style="padding: 100px 0;">
    	<div class="containerSlider">

			<div class="image-slider-wrapper-Education" style="height:100%;">
				<ul id="image_slider" style="height:600px;">
					<li><img src="../../assets/gallery/1.png"></li>
					<li><img src="../../assets/gallery/2.png"></li>
					<li><img src="../../assets/gallery/3.png"></li>
					<li><img src="../../assets/gallery/4.png"></li>
					<li><img src="../../assets/gallery/17.png"></li>
					<li><img src="../../assets/gallery/5.png"></li>
					<li><img src="../../assets/gallery/6.png"></li>
					<li><img src="../../assets/gallery/13.png"></li>
					<li><img src="../../assets/gallery/14.png"></li>
					<li><img src="../../assets/gallery/15.png"></li>
					<li><img src="../../assets/gallery/16.png"></li>

				</ul>			
				<div class="pager">
					<h2>Orthotic Prosthetic Product Lines
				</h2>
				</div>
			</div>
		</div>
    </section>
 <script type="text/javascript">
    var ul;
	var li_items; 
	var li_number;
	var image_number = 0;
	var slider_width = 0;
	var image_width;
	var current = 0;
	function init(){	
		ul = document.getElementById('image_slider');
		li_items = ul.children;
		li_number = li_items.length;
		for (i = 0; i < li_number; i++){
			// nodeType == 1 means the node is an element.
			// in this way it's a cross-browser way.
			//if (li_items[i].nodeType == 1){
				//clietWidth and width???
				image_width = li_items[i].childNodes[0].clientWidth;
				slider_width += image_width;
				image_number++;
		}
		
		ul.style.width = parseInt(slider_width) + 'px';
		slider(ul);
	}

	function slider(){		
			animate({
				delay:17,
				duration: 3000,
				delta:function(p){return Math.max(0, -1 + 2 * p)},
				step:function(delta){
						ul.style.left = '-' + parseInt(current * image_width + delta * image_width) + 'px';
					},
				callback:function(){
					current++;
					if(current < li_number-1){
						slider();
					}
					else{
						var left = (li_number - 1) * image_width;					
						setTimeout(function(){goBack(left)},2000); 				
						setTimeout(slider, 4000);
					}
				}
			});
	}
	function goBack(left_limits){
		current = 0;	
		setInterval(function(){
			if(left_limits >= 0){
				ul.style.left = '-' + parseInt(left_limits) + 'px';
				left_limits -= image_width / 10;
			}	
		}, 17);
	}
	function animate(opts){
		var start = new Date;
		var id = setInterval(function(){
			var timePassed = new Date - start;
			var progress = timePassed / opts.duration
			if(progress > 1){
				progress = 1;
			}
			var delta = opts.delta(progress);
			opts.step(delta);
			if (progress == 1){
				clearInterval(id);
				opts.callback();
			}
		}, opts.dalay || 17);
	}
	window.onload = init;
</script>
 <!-- Videos -->
    <section id="videos" style="padding: 100px 0;">
		<div class="fullwidth-box" style="background-color:#fff;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:0px solid #e5e4e4;border-bottom:0px solid #e5e4e4;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;margin-left: 10%;">
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Webinars</h2>
                <h3 class="section-subheading text-muted">
            Practice to create and communicate innovation solutions of a Positive Patient Experience</h3>
            </div>
         </div>


         <div class="row">
            <div class="col-lg-6 text-center">
                <div class="one_half">
				<iframe width="500" height="300" src="https://www.youtube.com/embed/dhvfSTaHTOM"></iframe>
			</div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="one_half">
				<iframe width="500" height="300" src="https://www.youtube.com/embed/5xU906rs73A"></iframe>
			</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6 text-center">
               <div class="one_half">
				<iframe width="500" height="300" src="https://www.youtube.com/embed/2g6UkZK7xWA"></iframe>
			</div>
            </div>
            <div class="col-lg-6 text-center">
               <div class="one_half">
				<iframe width="500" height="300" src="https://www.youtube.com/embed/fczNZzIqnOo"></iframe>
			</div>
            </div>
         </div>
			
		</div>

</section>
<!-- WORKS -->	       
<section class="works clearfix" id="works" style="background-color: rgb(247, 247, 247); padding: 100px 0px;">
			<div class="container">
				<div class="row">
				
					<div class="sec-title text-center">
						<h2>Our Products</h2>
					</div>
					
					<div class="sec-sub-title text-center">
						<h3 class="section-subheading text-muted">High quality Products with Orthopedic Care that gets you back to enjoying Life!</h3>
					</div>
					
					<!-- <div data-wow-duration="500ms" class="work-filter wow fadeInRight animated animated" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInRight;">
						<ul class="text-center">
							<li><a class="filter active" data-filter="all" href="javascript:;">All</a></li>
							<li><a class="filter" data-filter=".branding" href="javascript:;">Brands</a></li>
							<li><a class="filter" data-filter=".web" href="javascript:;">Category 2</a></li>
							<li><a class="filter" data-filter=".logo-design" href="javascript:;">Category 3</a></li>
							<li><a class="filter" data-filter=".photography" href="javascript:;">Category 4</a></li>
						</ul>
					</div> -->
					
				</div>
			</div>
			
						<div class="project-wrapper" id="MixItUp207F73">
			
				<figure class="mix work-item branding" style="display: inline-block;">
					<img alt="" src="../../assets/works/t5.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/t5.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item web" style="display: inline-block;">
					<img alt="" src="../../assets/works/t6.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/t6.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item logo-design" style="display: inline-block;">
					<img alt="" src="../../assets/works/t2.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/t2.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item photography" style="display: inline-block;">
					<img alt="" src="../../assets/works/t7.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/t7.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
			
				<figure class="mix work-item branding" style="display: inline-block;">
					<img alt="" src="../../assets/works/t1.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/t1.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item web" style="display: inline-block;">
					<img alt="" src="../../assets/works/52.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/52.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item logo-design" style="display: inline-block;">
					<img alt="" src="../../assets/works/18.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/18.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
				<figure class="mix work-item photography" style="display: inline-block;">
					<img alt="" src="../../assets/works/12.jpg">
					<figcaption class="overlay">
						<a href="../../assets/works/12.jpg" title="Write Your Image Caption Here" rel="works" class="fancybox"><i class="fa fa-eye fa-lg"></i></a>
						<h4></h4>
						<p></p>
					</figcaption>
				</figure>
				
			</div>
		

		</section>
		
        <!--
        End Our Works
        ==================================== -->

<!-- Catalogue -->

  <section style="padding: 100px 0;" id="Catalogues">
		<div style="background-color:#fff;background-image:url();background-repeat:no-repeat;background-position:top left;background-attachment:scroll;border-top:0px solid #e5e4e4;border-bottom:0px solid #e5e4e4;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;" class="fullwidth-box">
		<div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Catalogues</h2>
                <h3 class="section-subheading text-muted">
            </h3>
            </div>
         </div>
		<div class="row">
		<div class="webinar_content">
		<div class="col-md-4 padding-10">
			<div class="one_half">
				<a href="../../assets/catalogue/meyra.pdf">
				<img src="../../assets/catalogue/meyra.png" alt="Catalogue"></a>
			</div>
		</div>
		<div class="col-md-4 padding-10">
		<div class="one_half">
			<a href="../../assets/catalogue/qmed.pdf">
		<img src="../../assets/catalogue/qmed.png" alt="Catalogue"></a>
		</div>
	</div>
	<div class="col-md-4 padding-10">
		<div class="one_half">
			<a href="../../assets/catalogue/activeline.pdf"><img src="../../assets/catalogue/activeline.png" alt="Catalogue"></a>
		
		</div>
	</div>
	</div>
			<div class="clearboth"></div>
		</div></div>

</section>

		<!-- Testimonials-->

<section data-stellar-background-ratio="0.4" id="testimonials" style="background-position: 0px -25.51px;padding:100px 0;">
      <div class="testimonials-inner">
        <div class="container">
          <div class="section-head">
            <div class="sec-title text-center gomap sec-sub-title">
						<h2>Testimonials</h2>
						<h3 class="section-subheading text-muted">We love our Patients, and we have individual approach to each and every one of them!</h3>
					</div>
          </div>
          <div class="testimonial-container ">
            <div class="testimonial row" style="padding-bottom: 10px;">
              <!--  -->
              <div class="col-md-2 col-md-offset-1 text-right">
                <div class="testi-img">
                  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-one fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="testi-text">
                  Thank you for helping my son achieve this goal of returing to the field for the
high school playoffs. He couldnot have done it without your support!
                  <p class="testi-by"><i class="fa fa-user"></i>
Ijaz Abdullah</p>
                </div>
              </div>

            </div>
            <div class="testimonial row" style="padding-bottom: 10px;">
              <div class="col-md-2 col-md-offset-4 text-right ">
                <div class="testi-img ">
                <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-two fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="testi-text">
                  Normally, a good physician treats the disease but you have got great physicians who treat the patient who has the disease. Masha Allah!
                  <p class="testi-by"><i class="fa fa-user"></i>
Labeeb Jamal</p>
                </div>
              </div>

            </div>
            <div class="testimonial row" style="padding-bottom: 10px;">
              <div class="col-md-2 col-md-offset-1 text-right">
                <div class="testi-img">
                  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-three fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="testi-text">
                   You have a positive outlook and it guided me through a very frustrating time. Thank you!
                  <p class="testi-by"><i class="fa fa-user"></i>
Ahamed Jaseem</p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>


	<!--
        Locate Us
        ==================================== -->		
		
		<section class="map" id="map" style="padding:100px 0;">
				<div class="sec-title text-center gomap sec-sub-title">
						<h2>Find Us</h2>
						<h3 class="section-subheading text-muted">Locate Us! Our SPECIALITY is to Serve you BEST!</h3>
					</div>
				<div class="map-cls">
					<img src="../../assets/map.jpg" alt="ortek-map">
				</div>
			</section>
			



	<!-- W3TC-include-js-head -->

<link rel='stylesheet' id='mediaelement-css'  href='../../assets/mediaelementplayer.min.css?ver=2.15.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-mediaelement-css'  href='../../assets/wp-mediaelement.css?ver=4.1.1' type='text/css' media='all' />
<script type='text/javascript' src='../../assets/contact-form-jquery.min.js?ver=3.50.0-2014.02.05'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/otb-uae.com\/html\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='../../assets/contact-scripts.js?ver=3.7.2'></script>
<script type='text/javascript' src='../../assets/jquery-mousewheel.min.js?ver=2.1.0-20121206'></script>
<script type='text/javascript' src='../../assets/jquery.flexslider.min.js?ver=2.1.0-20121206'></script>
<script type='text/javascript' src='../../assets/comment-reply.min.js?ver=4.1.1'></script>
<script type='text/javascript' src='../../assets/modernizer.min.js'></script>
<script type='text/javascript' src='../../assets/jquery.carouFredSel-6.2.1-min.js'></script>
<script type='text/javascript' src='../../assets/jquery.prettyPhoto-min.js'></script>
<script type='text/javascript' src='../../assets/jquery.flexslider-min.js'></script>
<script type='text/javascript' src='../../assets/jquery.fitvids-min.js'></script>

<script type='text/javascript'>
/* <![CDATA[ */
var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Download File":"Download File","Download Video":"Download Video","Play\/Pause":"Play\/Pause","Mute Toggle":"Mute Toggle","None":"None","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Unmute":"Unmute","Mute":"Mute","Captions\/Subtitles":"Captions\/Subtitles"}};
var _wpmejsSettings = {"pluginPath":"\/html\/wp-includes\/js\/mediaelement\/"};
/* ]]> */
</script>
<script type='text/javascript' src='../../assets/mediaelement-and-player.min.js?ver=2.15.1'></script>
<script type='text/javascript' src='../../assets/wp-mediaelement.js?ver=4.1.1'></script>
	<!-- Contact form validation -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<!-- Google Map -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>



<!-- styles for index page -->

<style type="text/css">
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
				#wrapper .ei-slider{width:100% !important;}
				body #header.sticky-header,body #header.sticky-header.sticky{display:none !important;}
			}
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
				#wrapper .ei-slider{width:100% !important;}
				body #header.sticky-header,body #header.sticky-header.sticky{display:none !important;}
			}
		</style>
			
	<style type="text/css">
	.animated { visibility:hidden; !important;}
	#testimonials {
	    background: none repeat scroll 0 0 #eee !important;
	    min-height: 400px;
	    position: relative;
	}
	#testimonials .testimonials-inner {
    	height: 100%;
    	padding-bottom: 60px;
    	position: relative;
    	width: 100%;
	}
	#testimonials .testimonials-inner .testimonial-container {
	    margin-top: 20px;
	    position: relative;
	}
	.text-right {
	    text-align: right;
	}
	#testimonials .testimonials-inner .testimonial-container .testimonial .testi-img {
	    display: block;
	    height: 112px;
	    margin-left: 100px;
	    margin-top: 18px;
	    position: relative;
	    width: 112px;
	    z-index: 3;
	}
	#testimonials .testimonials-inner .testimonial-container .testimonial .testi-text:before {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: transparent #ffffff transparent transparent;
	    border-image: none;
	    border-radius: 30px;
	    border-style: solid;
	    border-width: 50px;
	    content: "";
	    display: none;
	    left: 0;
	    position: absolute;
	    top: 0;
	}
	#testimonials .testimonials-inner .testimonial-container .testimonial .testi-img img {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: #66fffc transparent #66fffc #66fffc;
	    border-image: none;
	    border-radius: 55px;
	    border-style: solid;
	    border-width: 2px;
	    display: block;
	    position: relative;
	}
	#testimonials .testimonials-inner .testimonial-container .testimonial .testi-text {
	    border: 2px solid #fed136;
	    border-radius: 30px;
	    color: #777;
	    padding: 20px 10px 10px 25px;
	    position: relative;
	    transition: all 600ms ease-in 0s;
	    z-index: 2;
	}
	.one_half img{
		width: 400px;
		height: 400px;
	}
	.one_half img:hover{
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	</style>