<div style="inline-table;padding-top: 25%;" class="width-100">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Locate Us!</h1>
                    <h3 class="services-page-subheading">Our SPECIALITY is to Serve you BEST!</h3>
                </div>
            </div>
															
<div class="map-cls">
<img src="../../assets/map.jpg" alt="ortek-map">
</div>

</div>

