	<!-- Products css part starts here -->
		<!-- CSS Custom -->
	<link rel="stylesheet" href="../../assets/templatemo_misc.css">
	<link rel="stylesheet" href="../../assets/templatemo_style.css">
	<style type="text/css">
		.col-md-offset-1{
			margin-left: 3%;
		}
	</style>

	
<!--Content Part -->

<div class="site-header">
		<div class="main-navigation"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="#" class="templatemo_logo">
						<h1>Product Lines</h1>
					</a> <!-- /.logo -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		<div class="main-navigation">
			<div class="responsive_menu">
				<ul>
					<li><a class="show-1 templatemo_home" href="#">Orthopedic Braces & Supports</a></li>
					<li><a class="show-2 templatemo_page2" href="#">Orthotic Prosthetic</a></li>
					<li><a class="show-3 templatemo_page3" href="#">SPINAL Braces & Orthoses</a></li>
					<li><a class="show-4 templatemo_page4" href="#">Insole</a></li>
					<li><a class="show-5 templatemo_page5" href="#">Rehabilitation Aids</a></li>
					<li><a class="show-6 templatemo_page6" href="#">Therapeubic Aids</a></li>
				</ul>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 responsive-menu">
						<a href="#" class="menu-toggle-btn">
				            <i class="fa fa-bars"></i>
				        </a>
					</div> <!-- /.col-md-12 -->
					<div class="col-md-12 main_menu">
						<ul>
							<li><a class="show-1 templatemo_home" href="#">Orthopedic Braces & Supports</a></li>
							<li><a class="show-2 templatemo_page2" href="#">Orthotic Prosthetic</a></li>
							<li><a class="show-3 templatemo_page3" href="#">SPINAL Braces & Orthoses</a></li>
							<li><a class="show-4 templatemo_page4" href="#">Insole</a></li>
							<li><a class="show-5 templatemo_page5" href="#">Rehabilitation Aids</a></li>
							<li><a class="show-6 templatemo_page6" href="#">Therapeubic Aids</a></li>
						</ul>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.main-navigation -->
	</div> <!-- /.site-header -->
	
	<div id="menu-container">

		<div class="content homepage" id="menu-1">
			<div class="container">
					<div class="row ortho-products">
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
							<a href="ankle_products.html">
								<img src="../../assets/products/ankle.jpg" alt="product 1"></a>
								<a href="ankle_products.html" class="product-title">Ankle Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
							<a href="elbow_products.html">
								<img src="../../assets/products/elbow.jpg" alt="product 2"></a>
								<a href="elbow_products.html" class="product-title">Elbow Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
                        
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
							<a href="finger_products.html">
								<img src="../../assets/products/hand.jpg" alt="product 3"></a>
								<a href="finger_products.html" class="product-title">Finger Product lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="foot_products.html"><img src="../../assets/products/heel.jpg" alt="product 4"></a>
								<a href="foot_products.html" class="product-title">Foot Product lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
                        
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="hip_products.html"><img src="../../assets/products/hip.jpg" alt="product 5"></a>
								<a href="hip_products.html" class="product-title">Hip Joint Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="knee_products.html"><img src="../../assets/products/knee.jpg" alt="product 6"></a>
								<a href="knee_products.html" class="product-title">Knee Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="neck_products.html"><img src="../../assets/products/neck-pain.jpg" alt="product 6"></a>
								<a href="neck_products.html" class="product-title">Neck Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="shoulder_products.html"><img src="../../assets/products/shoulder.jpg" alt="product 6"></a>
								<a href="shoulder_products.html" class="product-title">Shoulder Product lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="wrist_products.html"><img src="../../assets/products/wrist_pain.jpg" alt="product 6"></a>
								<a href="wrist_products.html" class="product-title">Wrist Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->

					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

		<div class="content products" id="menu-2">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/1.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/1.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/2.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/2.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/3.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/3.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/4.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/4.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/5.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/5.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/6.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/6.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/7.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/7.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/8.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/8.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/9.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/9.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/10.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/10.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/11.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/11.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/12.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/12.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/13.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/13.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/14.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/14.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/15.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/15.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/16.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/16.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/17.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/17.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/18.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/18.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/19.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/19.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/20.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/20.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/21.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/21.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/22.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/22.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/23.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/23.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/24.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/24.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/25.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/25.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/26.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/26.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/27.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/27.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/28.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/28.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/29.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/29.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/30.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/30.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/31.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/31.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/32.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/32.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/33.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/33.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/34.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/34.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/35.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/35.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/36.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/36.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/37.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/37.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/38.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/38.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/39.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/39.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/40.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/40.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/41.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/41.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/42.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/42.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/43.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/43.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/44.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/44.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/45.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/45.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/46.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/46.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/47.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/47.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/48.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/48.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/49.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/49.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/50.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/50.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/51.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/51.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/52.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/52.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/53.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/53.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/54.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/54.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/55.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/55.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/56.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/56.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/57.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/57.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/58.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/58.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/59.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/59.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/60.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/60.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/61.png" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/61.png" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/62.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/62.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/63.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/63.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/64.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/64.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/65.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/65.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/66.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/66.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					<div class="col-md-2 col-sm-6 col-md-offset-1">
						<div class="gallery-item">
								<img src="../../assets/gallery/67.jpg" alt="image 1">
								<div class="overlay1">
									<a href="../../assets/gallery/67.jpg" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							<div class="content-gallery">
								<h3></h3>
							</div>
						</div> <!-- /.gallery-item -->
					</div> <!-- /.col-md-2 -->
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

		<div class="content services" id="menu-3">
			<div class="container">
					<div class="row ortho-products">
						<div class="col-md-4 col-sm-6">
							<div class="product-item"><a href="spine_products.html">
								<img src="../../assets/products/back-pain-4.jpg" alt="product 1"></a>
								<a href="spine_products.html" class="product-title">Spine Product Lines</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

		<div class="content about" id="menu-4">
			<div class="container">
					<div class="row ortho-products insoles">
						<h3>Insoles</h3>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6 clear-both-cls">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Plantar Fascilitis Insoles</h4></a>
									<img src="../../assets/products/insoles/Plantarfasciitisinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Brace designed for treatment plantar fasciitis. Plantar fasciitis is one of the causes of heel pain. Is an inflammation at the origin of the fascia, in the calcaneus. We found different morphologies and foot deformities that may produce this condition. For example, a cavo morphologically or equinus causes the fascia is permanently in tension or excess valguism.</br>
							People who stay long hours standing or athletes are more likely to develop this condition.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Pediatric Control insoles</h4>(Treatment of various morphologies and deformities in childhood)</a>
									<img src="../../assets/products/insoles/PediatricControlinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Orthotics plantar designed for the treatment of various morphologies and deformities in childhood. In childhood we can find different morphologies of the foot, which vary from patient.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Child foot insoles</h4></a>
									<img src="../../assets/products/insoles/Childfootinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>The child's foot is usually very characteristic, and having a loss or reduction of internal longitudinal arch.</br>
A flat foot diagnosed in childhood is considered a foot that is still developing, and in some cases morphology changes spontaneously. In most cases various deformities are associated; the most common is a valguism combined with rearfoot supination of the forefoot.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>valgus insoles</h4></a>
									<img src="../../assets/products/insoles/valgus.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Insole plant designed to treat valguism rear foot. In this type of deformity found a subtalar joint eversion. In some cases this type of deformity is associated morphologically flat foot.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Varo insoles</h4></a>
									<img src="../../assets/products/insoles/varoinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Bracing plant designed to treat rearfoot varus. In this type there is a hindfoot deformity investment; the plantar foot valued from a frontal plane surface is tilted toward the midplane. In general, this type of deformity is not isolated, but is accompanied by a characteristic morphology, such as equine foot arches and feet, forming a cavus foot varus and equinovarus.</br>
On examination should assess the deviation in the frontal plane; Also, in some cases, can be found in the forefoot adduction.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Flat foot insoles</h4>(or Pes Planus Insoles)</a>
									<img src="../../assets/products/insoles/flatfootinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Template designed for flat feet. Flatfoot has a decreased arch below normal. This reduction, besides modifying the support points considered within normal limits, modifies all the behavior of the limb, by the ratio between joints with closed kinetic chain. Causes the whole loss ratio interarticular hindfoot and midfoot imbalances with muscle and ligament.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Cavo insoles</h4></a>
									<img src="../../assets/products/insoles/Cavoinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Template designed for arched feet. This type of foot is characteristic increased breadth and height of the longitudinal arch; it can be considered that there is a rearfoot and forefoot approach, thereby decreasing the bearing zones.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Style insoles</h4></a>
									<img src="../../assets/products/insoles/Stylesinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Orthotic insole narrow planting. The design of this template allows the patient to treat various conditions and may use the shoes for which you are accustomed. With a morphologically regular longitudinal arch, and a perimeter lower longitudinal arch height, allows adaptation to the most casual footwear.</br>
Treatments that can be applied are those who do not need large corrections, i.e., those related to foot arches varos light, or light valgus flat pathologies that need a good retro capital support as metatarsalgia, and other pathologies located in the forefoot.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Work insoles</h4></a>
									<img src="../../assets/products/insoles/workinsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
						<p>Bracing plant for use in safety footwear . Many foot problems are associated to spend many hours standing or busy. When the foot presents some alteration, either morphological, some deformity or pathology, the risk of complications increases during the work period.</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Control insoles</h4></a>
									<img src="../../assets/products/insoles/ControlInsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Orthotics plantar foot mastery. It is designed to maintain the desired position during all phases of gait, especially off and heel shock. Especially for patients with gears unsafe conditions caused as a result of (for example, musculoskeletal).</p>
						</div>
						<div class="full-width-cls clear-both-cls">
							<div class="col-md-4 col-sm-6">
								<div class="product-item">
									<a href="#" class="product-title full-width-cls"><h4>Diabetic Foot Insoles</h4></a>
									<img src="../../assets/products/insoles/DiabeticFootInsoles.jpg" alt="product 1">
								</div> <!-- /.product-item -->
							</div> <!-- /.col-md-4 -->
							<p>Templates Avaninsoles diabetic patients have the following characteristics:</br>

Custom designs that perfectly fit the patient's foot, copying the exact forms of the plantar surface; can incorporate all necessary to correct deformities altered morphologies and modifications.</br>
 Customizing the orthotics plantar supplements amputation for each patient.
A material such as polyurethane, in different hardnesses and the best properties for these patients. Allows greater absorption of loads, flexibility, and slow return. Can be combined, depending on the associated diseases or deformities, EVA material with different hardnesses in the hindfoot, if needed better control.
The ability to incorporate downloads without materials or with Poron inserts to reduce pressure peaks present in studies.</br>
Wide range of linings, allowing at each stage of diabetic foot achieve different purposes. Our liners in different colors allow EVA to finish the template that affects the pressure-time named throughout this section. A high average Shore EVA, polyurethane hedge allow us to double absorption charging point in question that provide the two materials, polyurethane and EVA. This will reduce the exposure time pressure, thanks to the rapid recovery presents material</p>
						</div>
					
					</div>  

					<div class="row ortho-products sports">
						<h3>Sports Insoles</h3>
							<div class="full-width-cls clear-both-cls">
								<div class="col-md-4 col-sm-6">
									<div class="product-item">
										<a href="#" class="product-title full-width-cls"><h4>Performance insoles</h4></a>
										<img src="../../assets/products/sports/performanceinsoles.jpg" alt="product 1">
									</div> <!-- /.product-item -->
								</div> <!-- /.col-md-4 -->
								<p>Orthotics plantar designed for the practice of trekking or walking in the mountains. With the inserts Avaninsoles proposed for this orthotics plantar, it attempts to absorb the shock waves during the practice of this sport, which is increasing. As in all orthotics party raised a biomechanical study of gestures and positions taken by the person during this march was.</p>
								<img src="../../assets/products/sports/performanceinsoles1.jpg" alt="product 1">
							</div>
							<div class="full-width-cls clear-both-cls">
								<div class="col-md-4 col-sm-6">
									<div class="product-item">
										<a href="#" class="product-title full-width-cls"><h4>FootBall insoles</h4></a>
										<img src="../../assets/products/sports/FootBallinsoles.jpg" alt="product 1">
									</div> <!-- /.product-item -->
								</div> <!-- /.col-md-4 -->
								<p>Orthotics plantar designed for the player. Within the scope of the players talk about specific movements, but every athlete of his own art and his own gestures. For example, it will analyze the movement of the chute, but each patient is performed with different areas of the foot, thus varying the pressure to some extent, since the foot is positioned biomechanically differently.</p>
								<img src="../../assets/products/sports/FootBallinsoles1.jpg" alt="product 1">
							</div>
							<div class="full-width-cls clear-both-cls">
								<div class="col-md-4 col-sm-6">
									<div class="product-item">
										<a href="#" class="product-title full-width-cls"><h4>Running insoles</h4></a>
										<img src="../../assets/products/sports/RunningInsole.jpg" alt="product 1">
									</div> <!-- /.product-item -->
								</div> <!-- /.col-md-4 -->
								<p>Orthotics plantar designed for the runner. There are two types of stroke: the sprint and marathon running or long distances. Biomechanically body behaves differently in both special mention of the characteristics of each patient.
In a study of pressures, completely different results in both cases are noted; contact time and pressure zones are different, and relate, of course, with the biomechanical differences mentioned above.</p>
<img src="../../assets/products/sports/RunningInsole1.jpg" alt="product 1">
							</div>
							<div class="full-width-cls clear-both-cls">
								<div class="col-md-4 col-sm-6">
									<div class="product-item">
										<a href="#" class="product-title full-width-cls"><h4>Tennis insoles</h4></a>
										<img src="../../assets/products/sports/teninsinsoles.jpg" alt="product 1">
									</div> <!-- /.product-item -->
								</div> <!-- /.col-md-4 -->
								<p>Orthotics plantar designed for playing paddle tennis. Based on the biomechanical study of the different movements or gestures made by the player, has designed a base template with insertions in areas where the athlete during sport, has increased pressure. This base Avan designed has to be accompanied by a treatment by the Technical associated with each patient, always valuing morphology, deformity and, if available, pathology.</p>
								<img src="../../assets/products/sports/teninsinsoles1.jpg" alt="product 1">
							</div>
							<div class="full-width-cls clear-both-cls">
								<div class="col-md-4 col-sm-6">
									<div class="product-item">
										<a href="#" class="product-title full-width-cls"><h4>Cycling Insoles</h4></a>
										<img src="../../assets/products/sports/CyclingInsoles.jpg" alt="product 1">
									</div> <!-- /.product-item -->
								</div> <!-- /.col-md-4 -->
								<p>Orthotics plantar designed for cycling. In this sport is essential to assess the position of the athlete on the bike; This position biomechanically modify the behavior and the transmission of forces to the pedal. Keep in mind the high of the seated rider saddle should support your heel in the center of pedal-, the decline of the saddle and, finally, the distance between saddle and handlebars.</p>
								<img src="../../assets/products/sports/CyclingInsoles1.jpg" alt="product 1">
							</div>
							<div class="full-width-cls clear-both-cls">
								<div class="col-md-4 col-sm-6">
									<div class="product-item">
										<a href="#" class="product-title full-width-cls"><h4>Indoor Sport / Cricket insoles</h4></a>
										<img src="../../assets/products/sports/cricketinsoles.jpg" alt="product 1">
									</div> <!-- /.product-item -->
								</div> <!-- /.col-md-4 -->
								<p>Plantar brace designed for treatment of lateral instability. Such diseases are caused by the injury to the lateral ankle ligaments, commonly known as sprain.</br>
The etiology of this disease or ankle injury in sports is purely due to altered biomechanical aspects. If the athlete has a muscular imbalance, varos retropis and warm staffs, is more likely to suffer a sprain, and the phases of walking or running, depending on the sport, are altered, because the foot physiologically not endorse or distributed Similarly loads.</p>
								<img src="../../assets/products/sports/cricketinsoles1.jpg" alt="product 1">
							</div>

						
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

		<div class="content contact" id="menu-5">
			<div class="container">
					<div class="row ortho-products">
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="walkers.html">
								<img src="../../assets/products/r1.jpg" alt="product 1"></a>
								<a href="walkers.html" class="product-title">Crutches & Walkers</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="chairs.html">
								<img src="../../assets/products/r2.jpg" alt="product 1"></a>
								<a href="chairs.html" class="product-title">Wheel Chairs & Power Wheel Chairs</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-4 col-sm-6">
							<div class="product-item">
								<a href="examination.html">
								<img src="../../assets/tables/6.jpg" alt="product 1"></a>
								<a href="examination.html" class="product-title">Hospital Examination Table & Chairs</a>
								<!-- <p>Morbi nec mauris quis massa luctus consequat sit amet luctus metus. Etiam sollicitudin leo.</p> -->
							</div> <!-- /.product-item -->
						</div> <!-- /.col-md-4 -->
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

		<div class="content products_last" id="menu-6">
			<div class="container">
					<div class="row ortho-products">
						<p>Work in progress...</p>
					</div> <!-- /.row -->
			</div> <!-- /.slide-item -->
		</div> <!-- /.products -->

	</div> <!-- /#menu-container -->

	<!-- Scripts -->
	<script src="../../assets/tabs.js"></script>
	<script src="../../assets/jquery.lightbox.js"></script>
	<script src="../../assets/templatemo_custom.js"></script>


<!--Content Part -->