
<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Rehabilitation Aids</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <div class="row text-center">
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
                    </span>
                    <!-- <h4 class="service-heading">Orthotic</h4> -->
                    <p class="text-muted text-align-justiy">Mobility has many facets and means something different for everyone: Physical mobility, social independence, a flexible lifestyle. This also applies to persons who are dependent on a wheelchair or other mobility aids. They are entitled to expect mobility aids that are practical and functional, but also in harmony with their personal lifestyle.</p></br>
<p class="text-muted text-align-justiy">

	The most important feature of any Rehabilitation Aid is its ability to provide maximum support without causing any further discomfort to patient, already in pain. Our Support & Braces help correct and or treat painful conditions effectively. The solid yet flexible rehab range includes Back/Lumbosacral Support, Abdominal Support, Cervical Support, Wrist Support, Knee/Ankle Support, Arm/Shoulder Support, Traction Kits Cervical, Pelvic, Skin & Ankle Traction Kits, Walking and General Aids.<br>

You may view our entire Rehabilitation Products & Aids range and select the most suitable model as per your requirements.

</p><br>

                </div>               

            </div>
        </div>
</div>
