

<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Our Services</h1>
                    <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3>
                </div>
            </div>
            <div class="container">
            <div class="row text-center">
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">O R T E K Offers Prosthetic Services</h4>
                    <p class="text-muted text-align-justiy">Prosthetics is the evaluation, fabrication, and custom fitting of artificial limbs, known as

"prostheses." Prostheses enhance the function and lifestyle of persons with limb loss. The 

prosthesis must be a unique combination of appropriate materials, alignment, design, and 

construction.</br>

Lower-limb prostheses might address stability in standing and walking, shock absorption, 

energy storage and return, cosmetic appearance, and even running, jumping, and other athletic 

activities. Upper-limb prostheses might address reaching and grasping, occupational challenges 

including hammering, painting, or weight lifting, and activities of daily living like eating, writing, 

and dressing.</br>

Prosthetic patients may have been born with limb deficiency or have experienced amputation 

due to trauma, cancer, infection, or abnormalities in blood vessels or nerves.</p></br>
<p class="text-muted text-align-justiy">
<i class="fa fa-umbrella margin-left-fifty"></i>Lower and Upper extremity Prosthetics</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Immediate Post-Operative Prosthesis (IPOP)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Free Informational Consults before and after surgery</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Shrinkers for Post-operative swelling control</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Partial Foot Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Symes Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Below Knee Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Above Knee Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Hip Disarticulation and Hemipelvectomy Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Finger Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Partial Hand Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Below Elbow prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Above Elbow Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Shoulder Disarticulation Prosthesis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Adult and Pediatric Prosthetics</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Home and clinical services</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Breast Prosthesis(es) and Mastectomy Bras</br></p>
                </div>
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">O R T E K Offers Orthotics Services</h4>
                    <p class="text-muted text-align-justiy">Orthotics is the evaluation, fabrication, and custom fitting of orthopedic braces, known as "orthoses".

Orthotics combines knowledge of anatomy and physiology, pathophysiology, biomechanics, and 

engineering. Orthoses are externally applied devices used to modify the structural and functional 

characteristics of the neuromuscular and skeletal system. An orthosis may be used to:</p></br>
<p class="text-muted text-align-justiy">
<i class="fa fa-umbrella margin-left-fifty"></i>Control, guide, limit, or immobilize a limb, joint, or body segment.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To restrict movement in a given direction.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To assist movement.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To reduce weight bearing forces.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To aid rehabilitation from fractures after the removal of a cast.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To correct the shape and function of a part of the body.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To reduce pain.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>To optimize performance in sports.</br></br>
Orthotic patients need external support to a part of the body because of neuromuscular or skeletal

conditions such as cerebral palsy, scoliosis, spina bifida, traumatic brain injury, stroke, plagiocephaly, 

multiple sclerosis, sports injuries, and back strain. Other patients may require orthoses because they 

have foot conditions as a consequence of diabetes, high or flat arches, or repetitive stress.

An orthotist is the primary clinician responsible for the prescription, manufacture, and management of 

orthoses. Other orthotic professionals include orthotic fitters, technicians, and assistants.</br></br>

<i class="fa fa-umbrella margin-left-fifty"></i>Hip Abduction Orthosis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Hip-Knee-Ankle-Foot Orthosis (HKAFO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Knee-Ankle-Foot Orthosis (KAFO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Computerized and Stance Controlled KAFO’s</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Ankle-Foot Orthosis (AFO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Dynamic Ankle-Foot Orthotics (DAFO’s)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Tone Reducing Orthotics</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Plantar Fasciitis Night Splints</br>

<i class="fa fa-umbrella margin-left-fifty"></i>SureStep Orthotics</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom and Functional/Sports Knee Orthosis (KO) </br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom Foot Orthotics (FO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Diabetic Shoes and Inserts</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Fracture Orthosis</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom and off-the-shelf orthotics for the upper extremities</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Static and Dynamic Contracture Management</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Plantar Fasciitis Night Splints</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Diabetic Shoes and Inserts</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom Shoes</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom Foot Orthotics (FO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Off-the-shelf Foot Orthotics (FO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i>Extra Depth Shoes</br>
</p></br>
                </div>
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">O R T E K Offers Pediatric Bracing Services</h4>
                    <p class="text-muted text-align-justiy">O R T E K serves babies, children and teenagers whose conditions require orthotic or prosthetic services

and devices. Some of the most seen conditions treated at O R T E K include limb deficiency and limb 

sparing, cerebral palsy, spina bifida, neurological disorders, scoliosis and plagiocephaly. </br>

Pediatric Orthotics and Prosthetic services:</br></br>
<i class="fa fa-umbrella margin-left-fifty"></i> Bracing for foot and hip defects</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Corrective shoes</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Bracing for spinal problems and scoliosis</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Off-the-shelf Foot Orthotics (FO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Artificial limbs including arms, legs, feet and hands for children and teenager</br>


</p>
                </div>
                 <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">O R T E K Offers Spinal Orthotic Services</h4>
                    <p class="text-muted text-align-justiy">O R T E K carries and fits a variety of cervical collars and spinal, neck and body braces to provide support,

strengthening and healing of the area after surgery or injury. These orthotic braces can be fitted, 

molded and adjusted by the trained orthotists at O R T E K to provide a better fit and better results for 

the wearer as they heal.</br></br>

<i class="fa fa-umbrella margin-left-fifty"></i> Cervical Collars</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Custom and off-the-shelf spinal orthotics</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Cervicle-Thoracic-Lumbar-Sacral Orthosis (CTLSO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Thoracic-Lumbar-Sacral Orthosis (TLSO)</br>

<i class="fa fa-umbrella margin-left-fifty"></i> Lumbar-Sacral Orthosis (LSO)</br></br>
The professional service we provide to our clients is founded on the following principles.</br></br>
<i class="fa fa-umbrella margin-left-fifty"></i>  Expert assessment of patients of all ages and disabilities providing custom made prosthetic.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  Orthotic Orthopedic Braces & Support and rehabilitation devices using the latest techniques. </br>
<i class="fa fa-umbrella margin-left-fifty"></i> And readymade products from established and trusted producers from Germany, Poland , Spain, USA, UK.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  Shortest possible time of fabrication of the required devices.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  Individualized follow up plan.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  Close co-ordination with doctors, therapists and patients for long term patient satisfaction and Therapy success.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  Caring staff provide quality service with timely response in a confidential environment.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  Reasonable prices.</br>

<i class="fa fa-umbrella margin-left-fifty"></i>  We will permanently be carrying on update and improvements our products to be able to serve you, our valuable customers who always deserve the best.</br></br>


</p>
                </div>
            </div>
        </div>
</div>
		
