<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Shoulder Products Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">Orthopaedic Vest:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/1.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Treatment; follow-up treatment of contusions and injuries of shoulder, shoulder girdle, arm and elbow joints requiring limb immobilization in adducted position and internal rotation; inflammation and degenerative changes which require immobilization and relief of upper limb; shoulder and collar-bone, or sternum and collar-bone joint dislocation.
                    	<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>brings arm to adducted position and into internal rotation,<br>
    <i class="fa fa-umbrella padding-right-five"></i>holds the elbow at 90°-120° of flexion, <br>
    <i class="fa fa-umbrella padding-right-five"></i>additional element to protect and relieve the hand,<br>
    <i class="fa fa-umbrella padding-right-five"></i>reduces the time of wearing a cast, <br>
    <i class="fa fa-umbrella padding-right-five"></i>fully adjustable,<br>
    <i class="fa fa-umbrella padding-right-five"></i>structure is similar to a classic Dessault bandage, <br>
    <i class="fa fa-umbrella padding-right-five"></i>made of exceptionally durable fabrics, provides maximum comfort of use, <br>
    <i class="fa fa-umbrella padding-right-five"></i>colour: navy blue.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Type</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">Children 3-9<br>years old</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">Children<br>9-14 years <br>old</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">Small<br>for adults</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">Medium<br>for adults</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">Large<br>for adults</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">R1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">R2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">R3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">R4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">R5</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Thorax<br>circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&lt;70</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">70 - 80</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 120</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120&lt;</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

           <!--Product starts here -->
            <h4 class="service-heading" style="text-">ACROMED Shoulder Brace:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/2.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Post-operative treatment of humeral head fracture, glenoid cavity, shoulder joint dislocation, degeneration of shoulder joint and related pain syndromes, habitual dislocation of shoulder joint, follow-up treatment after reconstruction of labrum glenoidale and articular capsule, protection against shoulder joint dislocation in case of upper limb paralysis of various etiology.
                    	<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>breathable fabric with Lycra® addition provides optimal comfort of use,<br>
    <i class="fa fa-umbrella padding-right-five"></i>system of rigid and flexible straps ensure optimal stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two versions: left and right.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;5</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Circumference of biceps<br>muscle in its widest part (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;&lt;26</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;26 - 29</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;29 - 33</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&nbsp;33 - 36</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">36 - 39</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Arm Abduction Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/3.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Treatment after shoulder dislocation; plasty or injury to the rotor cone; arthroscopy of the shoulder joint; subcapitular fracture; Bankart type injury; post-surgical stabilisation of the shoulder joint; endoprosthetics of the shoulder joint.
                    	<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>light, strong frame made of steel, with a lock to stabilise the shoulder at an appropriate, therapeutic angle (15°, 30°, 45°, 60°, 75°, 90°),<br>
    <i class="fa fa-umbrella padding-right-five"></i>frame covered with soft lining made of breathable fabric for optimal comfort of use,<br>
    <i class="fa fa-umbrella padding-right-five"></i>adjustable system of stabilizing straps allows ideal fitting to any anthropometric dimensions of the patient,<br>
    <i class="fa fa-umbrella padding-right-five"></i>straps ensure stabilization of the abducted limb, evenly distribute its weight, prevent strain on the opposite shoulder and the cervical spine.</p><br><br>  
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Height (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">&nbsp;150 - 165</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">&nbsp;165 - 170</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">&nbsp;170&gt;</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

  <!--Product starts here -->
            <h4 class="service-heading" style="text-">Sling with Stabilization Strap:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/4.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Pain syndromes of upper limb/shoulder girdle; inflammation and injuries of soft tissue which require support and limitation of movement; support for orthopaedic cast; preventive treatment of shoulder and humeral joint dislocation in paralysis and paresis.
                    	<br><br>
                    
      




    <i class="fa fa-umbrella padding-right-five"></i>made of soft, breathable, polyamide fabric,<br>
    <i class="fa fa-umbrella padding-right-five"></i>wide and long carrying strap with additional soft cover ensures proper distribution of limb weight and quick sling adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>provides optimal relief and support for the upper limb.</p><br><br>  
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                	<p>One, universal size</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

   <!--Product starts here -->
            <h4 class="service-heading" style="text-">Arm Abduction Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/5.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Stabilization and abduction of upper limb after injuries (sprain, dislocation) or surgeries; follow-up treatment after reconstruction of rotator cuff; immobilization and relief for upper limb in case of inflammation of shoulder joint.
                    	<br><br>
                    
      



   <i class="fa fa-umbrella padding-right-five"></i> orthosis made of polyamide knitted-fabric laminated with polyurethane foam,<br>
    <i class="fa fa-umbrella padding-right-five"></i>system of wedges enables shoulder immobilization at 15°, 30°, 45°, 60° of abduction,<br>
    <i class="fa fa-umbrella padding-right-five"></i>open construction allows to activate forearm muscles while immobilizing the shoulder,<br>
    <i class="fa fa-umbrella padding-right-five"></i>system of straps enables quick and easy adjustment to individual needs.</p><br><br>  
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Forearm length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">25 - 28</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">28 - 30</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">30 - 33</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">33 - 36</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->


      <!--Product starts here -->
            <h4 class="service-heading" style="text-">4-Arm non-woven Fabric Sling:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/6.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Dysfunctions and injuries which require support, stabilization or movement limitation of upper limb and shoulder girdle, pain syndromes, inflammation and injuries of soft tissue; support for orthopaedic cast; preventive treatment of shoulder and humeral joint dislocation in paralysis and paresis.
                    	<br><br>
                    
      




    <i class="fa fa-umbrella padding-right-five"></i>soft sling made of polypropylene non-woven fabric,<br>
    <i class="fa fa-umbrella padding-right-five"></i>supports elbow, forearm, hand,<br>
    <i class="fa fa-umbrella padding-right-five"></i>wide and long carrying strap with hook-and-loop closure ensures proper distribution of limb weight and quick sling adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>colour: black.</p><br><br>  
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Forearm length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">&lt;30</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">31 - 40</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">41&lt;</td>
					</tr>
					</tbody>
				</table>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">AS-BASICmedical - High-quality Arm Sling:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/7.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

High quality arm sling which immobilises the shoulder
joint. Skin-friendly fabric and quick-lock buckles provide
optimal comfort of use and facilitate adjustment
to individual needs.<br>

Indications:<br>
	
    <i class="fa fa-hand-o-right padding-right-five"></i>Postoperative immobilization of the shoulder joint<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>Padded arm sling<br>
    <i class="fa fa-umbrella padding-right-five"></i>Loops for thumbs and fingers<br>
    <i class="fa fa-umbrella padding-right-five"></i>Easy fastening by means of Velcro straps with quick-lock buckles<br>
    <i class="fa fa-umbrella padding-right-five"></i>Usable for left and right side<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: blue</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Forearm length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">30 - 36</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">36 - 42</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">42 - 28</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">AS-15°medical - High-quality Arm Sling with Abduction Cushion:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/shoulder/8.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

High quality arm sling with abduction cushion for
positioning of the shoulder joint. The position of the elbow
has 90°, while the forearm rests at 0° with an internal
rotation of the shoulder joint at the same time.
The abduction of the shoulder has an angle of 15°.
Which allows to position the humeral head in the socket
of the shoulder joint.<br>

Indications:<br>
	
   <i class="fa fa-hand-o-right padding-right-five"></i> Postoperative after fractures and implantations<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Fracture of the humerus<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Luxations<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>Padded arm sling<br>
    <i class="fa fa-umbrella padding-right-five"></i>Anatomically formed abduction cushion<br>
    <i class="fa fa-umbrella padding-right-five"></i>Easy fastening by means of Velcro straps with quick-lock buckles<br>
    <i class="fa fa-umbrella padding-right-five"></i>Loops for thumbs and fingers<br>
    <i class="fa fa-umbrella padding-right-five"></i>Cushion can be cleaned separately<br>
    <i class="fa fa-umbrella padding-right-five"></i>Usable for left and right side<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: blue</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Forearm length (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">30 - 36</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">36 - 42</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">42 - 28</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->


        </div>
</div>
