
<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Spinal Braces & Orthoses</h1>
                   <!--  <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <div class="row text-center">
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Spinal</h4>
                    <p class="text-muted text-align-justiy">Spinal orthoses, which include neck and back braces, are used to support and stabilize areas of the body from the jaw to the lower back and cervical spine. These types of orthoses may be used postoperatively to promote proper and safe healing, to treat a chronic disease or condition such as arthritis or used to treat an injury, such as whiplash.</p></br>

<h4 class="service-heading">Neck Braces and Supports</h4>
<p class="text-muted text-align-justiy">
A neck brace is cervical collar or cervical orthosis and may be used to treat an injury, provide support for degenerative disease that affects neck strength, or as a postoperative stabilization device. Cervical collars range from a soft style to a rigid style. Cervical orthoses are designed to fit the body anywhere from the jaw to the chest.<br>
<strong>Cervical Collars:</strong><br>
Cervical collars are classified as soft or rigid. These types of neck braces range from a soft support that helps in the treatment of minor neck strains to a rigid brace that supports from under the jaw down to the chest area to provide maximum support and protection of the cervical and thoracic areas.<br>
<strong>Halo Orthoses or Cervical Halo:</strong><br>
Halo orthoses are used to treat injuries to the cervical spine. This type of orthosis is comprised of a vest and superstructure and is typically used to treat a severe injury or unstable fractures to the neck or for postoperative stabilization.<br>
</p>






                </div>
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wheelchair fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Spinal Braces</h4>
                    <p class="text-muted text-align-justiy">
Spinal orthoses, or back braces, range from an "off the shelf" soft support to a complex, custom made rigid orthotic. Like other orthotics, a spinal orthosis is named for the area of the neck/spine/back that is treated by the orthotic device. <br>

Spinal Orthoses are prescribed to:<br>

<strong>Realign the Spine</strong><br>

Incorrect alignment of the spinal column can compromise the spinal cord and existing nerve roots, 

causing pain, weakness or even paralysis. A spinal orthosis can realign and support the spine, aiding in the healing process, slowing the progression of conditions such as osteoarthritis and scoliosis and helping preserve muscular and sensory functions.<br>

<strong>Immobilize the Spine</strong><br>

When one segment of the spine moves, it creates motion in the areas immediately above and below.
Controlling this motion is extremely important in treating injured or damaged areas. The use of a spinal orthosis to immobilize the spine encourages fractures to heal, prevents progression of disease or deformity and provides overall support of the body.<br>

<strong>Support Weakened Areas of the Spine </strong><br>

To ensure maximum stability of the spinal column during the healing process, orthotic devices are 

designed to fit snuggly, providing maximum support to the entire torso, including the pelvis. The devices often incorporate rigid components that assume the function of damaged bones and ligaments.<br>

<strong>Creating a Custom Spinal Orthosis</strong><br>

Optimal treatment outcomes are dependent upon an optimal fit; therefore, a spinal orthosis is often designed from a model of the patient’s body. In the past, models were created from a plaster and a series of measurements which was messy and uncomfortable to the patient. Today, we offer Insignia™ Laser Scanning System. Insignia is non-invasive, accurate three-dimensional model of the body. This quick, painless scan creates a permanent digital image that can supplement the patient’s medical record and can be used to provide a digital snapshot of the recovery process.
</p><br>
                </div>
                <div class="col-md-12 padding-fifty">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">O R T E K Offers Spinal Orthotic Services:</h4>
                    <p class="text-muted text-align-justiy">O R T E K carries and fits a variety of cervical collars and spinal, neck and body braces to provide support, strengthening and healing of the area after surgery or injury. These orthotic braces can be fitted, molded and adjusted by the trained orthotists at O R T E K to provide a better fit and better results for the wearer as they heal.
                    	<br>
<i class="fa fa-umbrella margin-left-fifty"></i>Cervical Collars<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom and off-the-shelf spinal orthotics<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Cervicle-Thoracic-Lumbar-Sacral Orthosis (CTLSO)<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Thoracic-Lumbar-Sacral Orthosis (TLSO)<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Lumbar-Sacral Orthosis (LSO)<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom Tailor Lumbar Corset with Shoulder<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom Tailor Dorsal- Lumbar Corset ( Bivalve)<br>

<i class="fa fa-umbrella margin-left-fifty"></i>Custom Tailor Dorsal- Lumbar Corset with Velcro’s

</p><br>
                </div>

            </div>
        </div>
</div>
