
<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Spine Product Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">LS Support Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/1.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Nonoperative treatment of lumbosacral area, dysfunctions of different etiology, stabilization of lumbar area in case of segmental instability after surgeries, followup treatment after neurosurgical/orthopedic interventions – functional treatment, prophylaxis against injuries, overload, congenital defects of lumbar area (with or without pain syndromes), degenerative spinal disorders with pain syndrome.
                    	<br><br>
                    
      





    <i class="fa fa-umbrella padding-right-five"></i>made of flexible straps,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two adjustable straps allow to regulate dorsal compression complying with level of injury and control of dynamic posture correction,<br>
    <i class="fa fa-umbrella padding-right-five"></i>metal stays provide passive stabilization.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
						<table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XXL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">56 - 71</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">69 - 84</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">81 - 96</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">94 - 109</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">107 - 122</td>
</tr>
</tbody>
</table>
<p><br>Height: 24 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Premium S Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/2.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                    	Non-invasive treatment of the movement segment of different etiology and different degree of intensity, stabilisation of the lumbar segment in the cases of segmentary instability following surgeries, follow-up treatment after neurological and orthopedic surgeries – functional treatment, prophylaxis against recurrent injuries, occupational and sporting excessive loads, inborn faults of the lumbar segment of the spine (with and without pain syndromes), chronic pain in degenerative diseases.
                    	<br><br>
                    
      





    <i class="fa fa-umbrella padding-right-five"></i>made of a soft, flexible, air permeable and hypoallergenic fabric,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two semi-rigid stays, two reinforcing elements in the dorsal part and two in the abdominal part ensure external stabilization of the sacro-lumbar section,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional tightening straps allow adjustment of the dorsal compression according to the level of injury and control of the direction of the dynamic correction of posture.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XXL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">85 - 95</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">95 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">105 - 115</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">115 - 125</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">125 - 135</td>
</tr>
</tbody>
					</tbody>
				</table>
				<p><br>Height: 29 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->  

   <!--Product starts here -->
            <h4 class="service-heading" style="text-">Spinactive - LS II Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/3.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                   Intense lumbar pain, disc disease, sciatica, painful degeneration of spine, straining syndromes, stabilisation of lumbar area after surgery during functional treatment, disorders of abdominal muscle tension (surgical intervention, risk of ruptures).
                    	<br><br>
                    
      







   <i class="fa fa-umbrella padding-right-five"></i> made of flexible, tensile straps,<br> 
   <i class="fa fa-umbrella padding-right-five"></i> four semi-elastic stays provide passive stabilization,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>breathable fabric enables warmth and moisture to be carried away,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>removable straps allow to adjust dorsal compression,<br> 
   <i class="fa fa-umbrella padding-right-five"></i> colour: grey.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">121 - 140</td>
</tr>
</tbody>
				</table>
				<p><br>Height: 25,5 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->  

       <!--Product starts here -->
            <h4 class="service-heading" style="text-">Spinactive Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/4.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                   Intense lumbar pain, disc disease, sciatica, painful degeneration of spine, straining syndromes, stabilization of lumbar area after surgery during functional treatment, disorders of abdominal muscle tension (surgical intervention, risk of ruptures).
                    	<br><br>
                    
      





    <i class="fa fa-umbrella padding-right-five"></i>made of flexible, tensile straps,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>four semi-elastic stays provide passive stabilization,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>breathable material enables warmth and moisture to be carried away,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>additional removable straps allow to adjust dorsal compression and the direction of dynamic posture correction,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>dynamic correction of posture,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>colour: white, beige.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">121 - 140</td>
</tr>
</tbody>
				</table>
				<p><br>Height: 25,5 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here --> 

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Flex III Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/5.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                   Non-invasive treatment in dysfunctions of the lumbosacral segments of the various etiology and the degree of the intensity, stabilization of the lumbar region in case of the segment instability after surgeries, curing after neurological and orthopaedic surgeries, functional treatment, prevention of another injuries, overstrains, inborn defects of the lumbar segment of the lumbar (with or without pain syndromes), chronic pain ailments in the course of the degenerative disease.
                    	<br><br>
                    
      




    <i class="fa fa-umbrella padding-right-five"></i>made of flexible, tensile straps,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>four semi-elastic, removable stays provide passive stabilization,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>breathable fabric enables warmth and moisture to be carried away,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>colour: beige.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XXL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">56 - 71</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">69 - 84</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">81 - 96</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">94 - 109</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">107 - 122</td>
</tr>
</tbody>
				</table>
				<p><br>Height: 27 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->   

<!--Next Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Frame Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/6.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                  Intense pain of lumbosacral spine, disc disease, stabilization after surgery and during functional treatment, instability of lumbosacral area.
                    	<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>made of elastic fabric with Lycra® addition,<br>
    <i class="fa fa-umbrella padding-right-five"></i>enables warmth and moisture to be carried away,<br>
    <i class="fa fa-umbrella padding-right-five"></i>four elastic stays provide passive stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>special belt loops facilitate fastening,<br>
    <i class="fa fa-umbrella padding-right-five"></i>colour: grey and white, grey and purple.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
</tr>
</tbody>
				</table>
				<p><br>Height: 26 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->  


    <!--Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Flex Thoracic – Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/7.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                  Intense spinal pain, disc disease, painful degeneration of spine, stabilization after surgery during functional treatment, spinal stenosis.
                    	<br><br>
  


    <i class="fa fa-umbrella padding-right-five"></i>dynamic control of movement range,<br>
    <i class="fa fa-umbrella padding-right-five"></i>high stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>five semi-elastic asymmetric stays provide passive stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>optimal anatomical adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>perfect air and moisture permeability,<br>
    <i class="fa fa-umbrella padding-right-five"></i>adjustable height and stabilization strength of TLS section,<br>
    <i class="fa fa-umbrella padding-right-five"></i>highly comfortable.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">121 - 140</td>
</tr>
</tbody>
				</table>
				<p><br>Height: 31 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here --> 


<!--Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Flex II Thoracic – Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/8.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                   Nonoperative treatment of spinal segment dysfunctions of different etiology, stabilization of lumbar spine in case of segmental instability after surgeries, follow-up treatment after neurosurgical/orthopedic interventions, prophylaxis against injuries, overload, congenital defects of lumbar spine (with or without pain syndromes), degenerative spinal disorders with pain syndrome.
                    	<br><br>
                    
      



    <i class="fa fa-umbrella padding-right-five"></i>made of flexible straps,<br>
    <i class="fa fa-umbrella padding-right-five"></i>knitwear in the dorsal part and two oblique straps to support dorsal muscles,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional straps to adjust dorsal compression,<br>
    <i class="fa fa-umbrella padding-right-five"></i>four semi-elastic asymmetric stays provide passive stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>colour: white, black.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">121 - 140</td>
</tr>
</tbody>
				</table>
				<p><br>Height 31 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Cross Thoracic – Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/9.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
                   Prevention and treatment of thoracic, lumbar and sacral pain, proper distribution of compression zones on the dorsal spine, degenerative spinal disorders, support for the abdominal wall while lowering the bowels, prevention of intense lumbar “dysfunctions” resulting from injuries, especially in the case of sport injuries.
                    	<br><br>
  

    <i class="fa fa-umbrella padding-right-five"></i>made of elastic, flexible straps,<br>
    <i class="fa fa-umbrella padding-right-five"></i>high metal stays and reinforcing parts,<br>
    <i class="fa fa-umbrella padding-right-five"></i>dynamic control of motion,<br>
    <i class="fa fa-umbrella padding-right-five"></i>optimal anatomical adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>diagonal straps – regulation of the height and stabilization strength,<br>
    <i class="fa fa-umbrella padding-right-five"></i>very good air and moisture permeability,<br>
    <i class="fa fa-umbrella padding-right-five"></i>highly comfortable.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                    	<p>Available length: 45 cm, 50 cm, 56 cm<br><br></p>
                <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
             <tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XXL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 130</td>
</tr>
</tbody>
				</table>
				<p><br>Height: 31 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Rigid Thoracic – Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/10.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
Intense and chronic thoracic, lumbar and sacral (TLS) pain, disc diseases, degenerative spinal disorders with pain syndrome, stabilization after surgery during functional treatment, instability of the TLS area.
                    	<br><br>
                    
      


    <i class="fa fa-umbrella padding-right-five"></i>four high, metal stays and two reinforcing parts,<br>
    <i class="fa fa-umbrella padding-right-five"></i>dorsal part made of two layers of flexible, reinforced fabric,<br>
    <i class="fa fa-umbrella padding-right-five"></i>dynamic control of motion,<br>
    <i class="fa fa-umbrella padding-right-five"></i>optimal anatomical adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>pull side straps for regulation of stabilization strength,<br>
    <i class="fa fa-umbrella padding-right-five"></i>very good air and moisture permeability,<br>
    <i class="fa fa-umbrella padding-right-five"></i>highly comfortable.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                    <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">121 - 140</td>
</tr>
</tbody>
</table>
				<p><br>Height: 38 cm</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->

<!--Product starts here -->
            <h4 class="service-heading" style="text-">Spincare Rigid II Thoracic – Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/11.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">
Prevention and treatment of pain of thoracic-lumbosacral area (distribution of compression zones on the dorsal spine), degenerative spinal disorders with pain syndrome, stabilization after surgery during functional treatment, support for the abdominal wall while lowering the bowels, the structure of the orthosis allows for adjustment of the strength and height of stabilisation to the individual needs, control of TLS section movement.
                    	<br><br>
            


    <i class="fa fa-umbrella padding-right-five"></i>made of flexible, tensile knitted fabric with Lycra® addition,<br>
    <i class="fa fa-umbrella padding-right-five"></i>the material carries moisture away from the skin surface and in the place of orthosis adherence, allows to dissipate the excessive heat,<br>
    <i class="fa fa-umbrella padding-right-five"></i>four metal, profiled stays provide passive stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional elements for lateral stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two additional flexible bands allow to adjust direction and compression strength.</p><br><br>

    
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
                    <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">52 - 62</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">63 - 74</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">75 - 89</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 105</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">106 - 120</td>
</tr>
</tbody>
</table>
				<p><br>Height: 33 cm (size 1-3)<br>35 cm (size 4-5)</p>
            		</div>
                </div>
                 
            </div>
            <!-- ends here -->


 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Spincare High Thoracic – Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/12.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

Lower back pain, disc diseases – degenerative spinal disorders with pain syndromes, stenosis of vertebral canal, post-surgery stabilization during functional treatment, thoracic kyphosis, Scheuermann’s disease, osteoporosis, posture defects, roundback.<br>

Indications:<br>
	



    <i class="fa fa-umbrella padding-right-five"></i>made of elastic, flexible straps,<br>
    <i class="fa fa-umbrella padding-right-five"></i>high metal stays and reinforcing part,<br>
    <i class="fa fa-umbrella padding-right-five"></i>optimal anatomical adjustment,<br>
    <i class="fa fa-umbrella padding-right-five"></i>adjustable stabilization strength,<br>
    <i class="fa fa-umbrella padding-right-five"></i>additional straps for stabilization and posture correction,<br>
    <i class="fa fa-umbrella padding-right-five"></i>very good air and moisture permeability,<br>
    <i class="fa fa-umbrella padding-right-five"></i>highly comfortable.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XXL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 130</td>
</tr>
</tbody>
			  </table>
			  <p><br>Height of lumbosacral brace: 30 cm<br>Height of lumbosacral brace without upright keeper: 54 cm</p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Spincare High Plus Thoracic-Lumbosacral orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/13.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Intense and chronic lumbar pains, slipped disc, disc diseases, spinal stenosis, stabilization after surgery and during functional treatment, thoracic kyphosis, Scheuermann’s disease, osteoporosis, weakness of abdomen muscles, faulty posture, ankylosing spondylitis.<br>

Indications:<br>
	




    <i class="fa fa-umbrella padding-right-five"></i>made of elastic, tensile straps,<br>
    <i class="fa fa-umbrella padding-right-five"></i>consists of two parts: lumbosacral brace and upright keeper (hook-and-loop closure),<br>
    <i class="fa fa-umbrella padding-right-five"></i>two metal, profiled stays, two semi-elastic stays and two reinforcing parts placed in the lumbosacral part,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two easy to profile stays placed in the upright keeper,<br>
    <i class="fa fa-umbrella padding-right-five"></i>soft armpit lining prevents abrasions,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two bands allow to adjust compression,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two ways of using: only the lumbosacral brace or with the upright keeper.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XXL</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 130</td>
</tr>
</tbody>
			  </table>
			  <p><br>Height of lumbosacral brace: 31 cm<br>Height of lumbosacral brace without upright keeper: 54 cm</p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

<!-- starts-->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Hyperextension brace Jewett type:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/14.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Stabilization of thoracic-lumbosacral area (T6 – L- S) in violent, chronic and inoperable conditions, reclination of vertebral trunks, stabilization of T6 -L - S area after neurosurgery, oncologic surgery, and others.<br>


    <i class="fa fa-umbrella padding-right-five"></i>light, aluminium construction which enables optimal adjustment to individual needs,<br>
    <i class="fa fa-umbrella padding-right-five"></i>soft lining provides optimal comfort of use,<br>
    <i class="fa fa-umbrella padding-right-five"></i>width/height adjustable upper part of the corset,<br>
    <i class="fa fa-umbrella padding-right-five"></i>easy and comfortable fastening which adjusts dorsal compression,<br>
    <i class="fa fa-umbrella padding-right-five"></i>available also with V stabilizer.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Distance between sternum<br>manubrium to pubic symphysis (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">37 - 44</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">41 - 48</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">45 - 52</td>
</tr>
</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Hyperextension brace Jewett type Movable pelvic band:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/15.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Stabilization of thoracic-lumbosacral area (T6 – L- S) in violent, chronic and inoperable conditions, reclination of vertebral trunks, stabilization of T6 -L - S area after neurosurgery, oncologic surgery, and others.<br>


	




    <i class="fa fa-umbrella padding-right-five"></i>light, aluminium construction which enables optimal adjustment to individual needs,<br>
    <i class="fa fa-umbrella padding-right-five"></i>soft lining provides optimal comfort of use,<br>
    <i class="fa fa-umbrella padding-right-five"></i>width/height adjustable upper part of the corset,<br>
    <i class="fa fa-umbrella padding-right-five"></i>easy and comfortable fastening which adjusts dorsal compression,<br> 
    <i class="fa fa-umbrella padding-right-five"></i>fitted for sitting position.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Distance between sternum<br>manubrium to pubic symphysis (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">37 - 44</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">41 - 48</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">45 - 52</td>
</tr>
</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
         <h4 class="service-heading" style="text-">Clavicle support:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/13.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Collar bone injuries which do not require surgical and orthopedic intervention, postural defects which do not require surgical intervention, pain syndromes of thoracic spine, thoracic hyperkyphosis<br>



    <i class="fa fa-umbrella padding-right-five"></i>made of knitted fabric laminated with foam,<br>
    <i class="fa fa-umbrella padding-right-five"></i>wide range of adjustment possibilities allow to correct the body posture in patients at different ages.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
             
			  <p><br>One, universal size</p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->


<!-- starts a-->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Spincare Extensor Upright keeper:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/17.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Collar-bone injury which does not require surgical or orthopaedic intervention, posture defects which do not require surgical intervention, pain syndromes of thoracic section of the spine, kyphosis.<br>



    <i class="fa fa-umbrella padding-right-five"></i>made of elastic straps,<br>
    <i class="fa fa-umbrella padding-right-five"></i>four semi-flexible stays for stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>breathable fabric of very good air and moisture permeability,<br>
    <i class="fa fa-umbrella padding-right-five"></i>equipped with inserts for armpit protection.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Chest circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">40 - 50</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">50 - 60</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">60 - 70</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">70 - 80</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
</tr>
</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">LUMBOmedical - Highly effective lumbar bandage with sacrum pad:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/18.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Highly effective lumbar orthosis for stabilization
of the lumbar spine. It relieves lumbar area and alleviates
pain.<br>

Indications:<br>

    <i class="fa fa-hand-o-right padding-right-five"></i>Lumbagos<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Irritations of the iliosacral joints<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Muscular debility<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Attrition<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Backache<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Ligamentosis<br><br>

	




    <i class="fa fa-umbrella padding-right-five"></i>Knitted fabric for optimal comfort and better adjustment to body shape<br>
    <i class="fa fa-umbrella padding-right-five"></i>Sacrum pad for the relief and massage of the surrounding musculature<br>
    <i class="fa fa-umbrella padding-right-five"></i>Steady and convenient Velcro fastener with loops<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: silver-blue.</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">70 - 80</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 130</td>
</tr>
</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
         <h4 class="service-heading" style="text-">LUMBOmedical Comfort - Highly effective lumbar bandage with sacrum pad:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/19.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy">Highly effective lumbar orthosis for stabilization
of the lumbar column. It relieves lumbar area and alleviates pain. Special shape ideally fits women.<br>

Indications:<br>

    <i class="fa fa-hand-o-right padding-right-five"></i>Lumbagos<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Irritations of the iliosacral joints<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Muscular debility<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Attrition<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Backache<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Ligamentosis<br><br>



    <i class="fa fa-umbrella padding-right-five"></i>Knitted fabric for optimal comfort and better adjustment to body shape<br>
    <i class="fa fa-umbrella padding-right-five"></i>Sacrum pad for the relief and massage of the surrounding musculature<br>
    <i class="fa fa-umbrella padding-right-five"></i>Steady and convenient Velcro fastener with loops<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: silver-blue</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
             
			  <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">70 - 80</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 130</td>
</tr>
</tbody>
</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->



            <!--Product starts here -->
         <h4 class="service-heading" style="text-">LUMBOmedical PRO - Highly effective lumbar bandage with 4 stabilisation stays:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/20.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy">Highly effective lumbar orthosis with four anatomically
shaped stays. It supports and corrects body posture, compresses and relieves the back. The bandage decreases muscle tensions and alleviates pain.<br>

Indications:<br>

    <i class="fa fa-hand-o-right padding-right-five"></i>Ligamentosis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Symphysiolysis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Lumbagos<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Irritations of the intervertebral joints<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Backache<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Lordosis<br><br>



    <i class="fa fa-umbrella padding-right-five"></i>Knitted to fit the anatomical forms at the best and provide high wearability<br>
    <i class="fa fa-umbrella padding-right-five"></i>4 stays provide more stability in the lumbar area<br>
    <i class="fa fa-umbrella padding-right-five"></i>Steady and convenient Velcro fastener with loops<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: silver-blue</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
             
			  <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">70 - 80</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">120 - 130</td>
</tr>
</tbody>
</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->


               <!--Product starts here -->
         <h4 class="service-heading" style="text-">LUMBOmedical Light - Highly effective lumbar support bandage with 4 stabilisation stays:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/21.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy">Highly effective lumbar orthosis made of elastic fabric.
Equipped with additional, flexible straps which allow to adjust dorsal compression to individual needs.<br>

Indications:<br>

    <i class="fa fa-hand-o-right padding-right-five"></i>Lumbagos<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Lordosis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Symphysiolysis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Attrition<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>General backache in the lumbar area<br><br>



    <i class="fa fa-umbrella padding-right-five"></i>Fabric elastic and permeable to air<br>
    <i class="fa fa-umbrella padding-right-five"></i>Fixation by means of Velcro fastening and elastic straps<br>
    <i class="fa fa-umbrella padding-right-five"></i>4 reinforcing struts in the lumbar area<br>
    <i class="fa fa-umbrella padding-right-five"></i>Adjustable elastic bridles<br>
    <i class="fa fa-umbrella padding-right-five"></i>Velcro fastener with loops</p><br><br>


                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
             
			  <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
<tbody>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">5</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6</td>
</tr>
<tr>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Waist circumference (cm)</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">64 - 72</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">72 - 80</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">80 - 90</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">90 - 100</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">100 - 110</td>
<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">110 - 120</td>
</tr>
</tbody>
</table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->







               <!--Product starts here -->
         <h4 class="service-heading" style="text-">Thoracolumbar corset with shoulder:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/22.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy"><br>

<strong>Pathologies:</strong><br>
This órtesi the recommended by the following pathologies:<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Low-lumbar and dorsal fractures<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Post-surgical assets<br>
-Osteoporosis<br>
-Paralysis<br>
-Reumatismos<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Pathologies-disc<br>
-Espondilolisis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Postoperative-treatment of scoliosis<br>
-Treatment of kyphosis<br>
-Ligament Injuries<br>
<br>





                    
                </div>
                <div class="col-md-6">
    
                </div>
                 
            </div>
            <!-- ends here -->


                           <!--Product starts here -->
         <h4 class="service-heading" style="text-">Corsét dorsolumbar bivalve:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/23.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy"><br>

<strong>Pathologies:</strong><br>


This orthosis recommend it for the following pathologies:<br>
-Fractures of the lumbar spine<br>
-Osteoporosis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Post-surgical-assets<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Pathologies-disc<br>
-Espondilolisis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Sports-Injury<br>
-Ligament Injuries<br>
<br>





                    
                </div>
                <div class="col-md-6">
    
                </div>
                 
            </div>
            <!-- ends here -->


 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Corsets dorsolumbar with Velcro:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/24.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy"><br>

<strong>Pathologies:</strong><br>

This brace is recommended for the following conditions:<br>
-Fractures of the lumbar spine<br>
-Osteoporosis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Post-surgical assets<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Rheumatism-<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Pathologies-disc<br>
-Espondilolisis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Sports-Injury<br>
-Ligament Injuries<br><br>                    
                </div>
                <div class="col-md-6">
    
                </div>
                 
            </div>
            <!-- ends here -->



 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Minerva with trunk:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/25.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy"><br>

<strong>Pathologies:</strong><br>
This orthosis recommend it for the following pathologies:<br>
-Fractures of the cervical and thoracic spine<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Pathologies-disc<br>
-Injury or degenerative fractures (osteoporosis)<br>
-Ligament Injuries<br><br>                 
                </div>
                <div class="col-md-6">
    
                </div>
                 
            </div>
            <!-- ends here -->


 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Corsets dorsolumbar mixed with Velcro:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/26.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy"><br>

<strong>Pathologies:</strong><br>

This brace is recommended for the following conditions:<br>
-Fractures of the lumbar spine<br>
-Osteoporosis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Post-surgical assets<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Rheumatism-<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Pathologies-disc<br>
-Espondilolisis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Sports-Injury<br>
-Ligament Injuries<br><br>  
                </div>
                <div class="col-md-6">
    
                </div>
                 
            </div>
            <!-- ends here -->

 <!--Product starts here -->
         <h4 class="service-heading" style="text-">Pediatric thoracolumbar corset with shoulder:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/spine/27.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
<p class="text-muted text-align-justiy"><br>

<strong>Pathologies:</strong><br>
This órtesi the recommended by the following pathologies:<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Low-lumbar and dorsal fractures<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Post-surgical assets<br>
-Osteoporosis<br>
-Paralysis<br>
-Reumatismos<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Pathologies-disc<br>
-Espondilolisis<br>
<i class="fa fa-hand-o-right padding-right-five"></i>Postoperative-treatment of scoliosis<br>
-Treatment of kyphosis<br>
-Ligament Injuries<br><br>

                </div>
                <div class="col-md-6">
    
                </div>
                 
            </div>
            <!-- ends here -->

        </div>
</div>
