<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;padding-bottom: 100px;">	
        
            <div class="row" style="padding-bottom: 100px;">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Crutches and Walkers</h1>
                   <!--  <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">

                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-one fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/1.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-two fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/2.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-three fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/3.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-four fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/4.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-five fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/5.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-six fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/6.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-seven fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/7.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eight fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/8.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-nine fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/9.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ten fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/10.jpg" alt="product">
                </div>      

            </div>
            <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eleven fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/11.jpg" alt="product">
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-twelve fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/12.jpg" alt="product">
                </div>      

            </div>
            <!-- next -->
               <div class="row text-center" style="clear: both;">
                <div class="col-md-6">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thirteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/13.jpg" alt="product">
                </div>
                <div class="col-md-6">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fourteen fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"></h4>
                    <img src="../../assets/walkers/14.jpg" alt="product">
                </div>      

            </div>
           


        </div>
</div>
