<!-- Content starts here -->
	
<div class="width-100" style="inline-table;padding-top: 25%;">	
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="services-page-heading">Wrist Product Lines</h1>
                    <!-- <h3 class="services-page-subheading">Putting our patients first while providing the highest with best Orthopedic Care.</h3> -->
                </div>
            </div>
            <div class="container">
            <!--Product starts here -->
            <h4 class="service-heading" style="text-">Wrist Stabilizer:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/1.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Prevention of wrist strains, protection during sport and professional activities, wrist pains of various etiology.<br>
                    
                    	

				    <i class="fa fa-umbrella padding-right-five"></i>wrist support made of modern, multidirectionally flexible, breathable, 3D woven knitted fabrics,<br>
				    <i class="fa fa-umbrella padding-right-five"></i>one, universal model for left and right wrist.</p><br><br>



                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
						<tr>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
						</tr>
						<tr>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Wrist circumference (cm)</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">13 - 15</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">15 - 18</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">18 - 20</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">20 - 23</td>
						</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">Wrist Stabilizing Brace:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/2.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Wrist dysfunctions and injuries: sprains, strains, overloads; inflammation, degenerative changes, prevention of wrist overload, pain syndromes of various etiology, wrist protection during sport and professional activities.<br>
                    
                    	

    <i class="fa fa-umbrella padding-right-five"></i>made of multidirectionally flexible, breathable knitted fabrics,<br>
    <i class="fa fa-umbrella padding-right-five"></i>provides wrist compression and improves stability, reduces pain and prevents swelling,<br>
    <i class="fa fa-umbrella padding-right-five"></i>silicone pad protects the most vulnerable parts of the wrist,<br>
    <i class="fa fa-umbrella padding-right-five"></i>the orthosis structure enables full range of thumb movement,<br>
    <i class="fa fa-umbrella padding-right-five"></i>one, universal model for left an right limb.</p><br><br>
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
						<tr>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XL</td>
						</tr>
						<tr>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Wrist circumference (cm)</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">13 - 15</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">15 - 18</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">18 - 20</td>
						<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">20 - 23</td>
						</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">Prohand Wrist Support:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/3.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Follow-up treatment after wrist injuries, wrist inflammation, pain syndromes of different etiology, degenerative wrist disorders, wrist protection while taking up sport and professional activities after injury.<br>
                    
                    	

    <i class="fa fa-umbrella padding-right-five"></i>simple construction,<br>
    <i class="fa fa-umbrella padding-right-five"></i>made of highly elastic, breathable knitted fabric with Lycra® addition,<br>
    <i class="fa fa-umbrella padding-right-five"></i>hook-and-loop closure,<br>
    <i class="fa fa-umbrella padding-right-five"></i>universal aid for right and left wrist.</p><br><br>
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              
			  <p>One, universal size</p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">WHO - STAB PLUS Wrist and Thumb Support:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/4.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Treatment of wrist, thumb and lower part of forearm injuries; chronic wrist and thumb instability with pain syndrome; inflammation; rheumatoid arthritis and degenerative disease of wrist, forearm and thumb injuries to medial and radial circumferential nerves; treatment of fractures; taking up sport after recovery time; wrist and thumb protection during sports activities.<br>
                    
                    	


    <i class="fa fa-umbrella padding-right-five"></i>hook-and-loop closure,<br>
    <i class="fa fa-umbrella padding-right-five"></i>made of non-woven fabric covered with knitted fabric on the inside,<br>
    <i class="fa fa-umbrella padding-right-five"></i>holds thumb in place,<br>
    <i class="fa fa-umbrella padding-right-five"></i>profiled, strong radial and hand reinforcements in the form of stays,<br>
    <i class="fa fa-umbrella padding-right-five"></i>three point stabilization,<br>
    <i class="fa fa-umbrella padding-right-five"></i>two versions: left and right,<br>
    <i class="fa fa-umbrella padding-right-five"></i>colours: grey and black.</p><br><br>

                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Wrist circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">14 - 16</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">16 - 18</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">18 - 21</td>
					</tr>
					</tbody>
			  </table>
			  <p><br>Circumference measured 5 cm below elbow joint</p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

             <!--Product starts here -->
            <h4 class="service-heading" style="text-">Splint for Palm and Forearm with Thumb Spica:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/5.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Diseases of wrist, hand and fingers which require support and stabilization of dressed area in particular corrective positions, trigger fingers, carpal tunnel syndrome, rheumatoid arthritis, prevention of contractures, peripheral nerve injuries, surgeries.<br>
                    

    <i class="fa fa-umbrella padding-right-five"></i>wrist and forearm splint with thumb spica,<br>
    <i class="fa fa-umbrella padding-right-five"></i>fixed with wide straps with hook-and-loop closure,<br>
    <i class="fa fa-umbrella padding-right-five"></i>left and right version.</p><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">XS</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Hand width (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6 - 7</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">7 - 8</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">8 - 9</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">9 - 10</td>
					</tr>
					</tbody>
			  </table>
			  <p><br>Size based on hand measurement at the height of metacarpophalangeal joints.</p>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->
            

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">WHOSP - F Wrist and Forearm Splint:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/6.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Wrist, hand and finger affections requiring support and stabilization of the affected area in specified corrective and/or pain reducing settings, sinew inflammation, carpal tunnel syndrome, rheumatic joint inflammation, contractures, preventive treatment, circumferential nerves injuries, surgery.<br><br>
                    
                    

		    <i class="fa fa-umbrella padding-right-five"></i>wrist and forearm splint,<br>
		    <i class="fa fa-umbrella padding-right-five"></i>adjustable to patient’s needs and progress, light structure made of steel and aluminium covered with PVE foam,<br>
		    <i class="fa fa-umbrella padding-right-five"></i>removable, soft padding with fingers separator,<br>
		    <i class="fa fa-umbrella padding-right-five"></i>hook-and-loop closure,<br>
		    <i class="fa fa-umbrella padding-right-five"></i>universal version.</p><br><br>
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Hand width (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6,5 - 8,0</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">8,0 - 9,5</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">9,5&lt;</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->


            <!--Product starts here -->
            <h4 class="service-heading" style="text-">WHOSP - FT Splint for Palm and Forearm with Thumb Spica:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/7.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">Wrist, hand and fingers affections requiring support and stabilization of the supplied area in specified corrective and/or pain reducing settings, sinew inflammation, carpal tunnel syndrome, rheumatic joint inflammation, contractures, preventive treatment, circumferential nerves injuries, surgery.<br><br>
                    
                    

    <i class="fa fa-umbrella padding-right-five"></i>wrist and forearm splint with thumb spica,<br>
    <i class="fa fa-umbrella padding-right-five"></i>adjustable to patient’s needs and progress, light structure made of steel and aluminium covered with PVE foam,<br>
    <i class="fa fa-umbrella padding-right-five"></i>removable, soft padding with fingers separator,<br>
    <i class="fa fa-umbrella padding-right-five"></i>left and right version.</p><br><br>
                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">S</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">M</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">L</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Hand width (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">6,5 - 8,0</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">8,0 - 9,5</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">9,5&lt;</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">RHIZOmedical - Highly Effective Thumb Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/8.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

Highly effective thumb orthosis which immobilizes
the thumb metacarpophalangeal joint and stabilizes
the thumb saddle joint. Equipped with anatomically
shapeable aluminium splint.<br>

Indications:<br>

    <i class="fa fa-hand-o-right padding-right-five"></i>Irritations on the thumb metacarpophalangeal and thumb saddle joint<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Skier´s thumb<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Rhizarthritis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Ligament instabilities<br>
<br>
                    
      

    <i class="fa fa-umbrella padding-right-five"></i>2 Velcro straps on wrist and thumb<br>
    <i class="fa fa-umbrella padding-right-five"></i>Shapeable metal insert at the thumb<br>
    <i class="fa fa-umbrella padding-right-five"></i>Fabric permeable to air<br>
    <i class="fa fa-umbrella padding-right-five"></i>Left and right version<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: black</p><br><br>

                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Wrist circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">12,5 - 16</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">16 - 20</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">20 - 23</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">MANUmedical - Wrist Orthosis:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/9.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

Highly effective wrist orthosis with an anatomically
shapeable aluminium splint. It protects the wrist
and prevents risky movements.<br>

Indications:<br>
	
    <i class="fa fa-hand-o-right padding-right-five"></i>Injuries of the thumb saddle joint<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Irritations in the wrist area<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Arthrosis and distorsions<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Rheumatoid arthritis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Instabilities<br>
<br>    
      
	

    <i class="fa fa-umbrella padding-right-five"></i>Stable orthosis for wrist positioning<br>
    <i class="fa fa-umbrella padding-right-five"></i>Adjustable by means of 3 Velcro straps<br>
    <i class="fa fa-umbrella padding-right-five"></i>Stable, shapeable aluminium insert<br>
    <i class="fa fa-umbrella padding-right-five"></i>Fabric permeable to air<br>
    <i class="fa fa-umbrella padding-right-five"></i>Left and right version<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: black</p><br><br>

                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Wrist circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">13 - 16</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">16 - 19</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">19 - 22</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">22 - 25</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

            <!--Product starts here -->
            <h4 class="service-heading" style="text-">MANUmedical Plus - Wrist Orthosis with a Thumb Hold:</h4>
            	<div class="row text-center">
                <div class="col-md-2">
                    
                    
    				<img src="../../assets/wrist/10.jpg" alt="neck-product1">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Description</h4>
                    <p class="text-muted text-align-justiy">

Highly effective wrist orthosis with a thumb hold.
Anatomically shapeable aluminium splints protect
the wrist and the thumb metacarpophalangeal joint
and prevent risky movements.<br>

Indications:<br>
	
    <i class="fa fa-hand-o-right padding-right-five"></i>Injuries of the thumb saddle joint<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Irritations in the wrist area<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Arthrosis and distorsions<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Rheumatoid arthritis<br>
    <i class="fa fa-hand-o-right padding-right-five"></i>Instabilities<br><br>
                    
      

    <i class="fa fa-umbrella padding-right-five"></i>Stable orthosis for wrist positioning<br>
    <i class="fa fa-umbrella padding-right-five"></i>Adjustable by means of 3 Velcro straps<br>
    <i class="fa fa-umbrella padding-right-five"></i>With stable, shapeable aluminium insert<br>
    <i class="fa fa-umbrella padding-right-five"></i>Fabric permeable to air<br>
    <i class="fa fa-umbrella padding-right-five"></i>Left and right version<br>
    <i class="fa fa-umbrella padding-right-five"></i>Colour: black</p><br><br>

                    
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Parameters</h4>

                    <div class="technical_parametres">
              <table border="1" style="border-color: #e8bc17; border-width: 1px; border-style: solid;width:100%;height:100px;">
              		<tbody>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Size</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">1</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">2</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">3</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">4</td>
					</tr>
					<tr>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px;">Wrist circumference (cm)</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">13 - 16</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">16 - 19</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">19 - 22</td>
					<td style="border-color: #e8bc17; border-style: solid; border-width: 1px; text-align: center;">22 - 25</td>
					</tr>
					</tbody>
			  </table>
            </div>
                </div>
                 
            </div>
            <!-- ends here -->

        </div>
</div>