<footer class="footer-area">
		<div class="avada-row">
			<section class="columns columns-4">
				<article class="col">
				<div id="text-3" class="footer-widget-col widget_text"><h3>CONTACT</h3>			<div class="textwidget"><p>ORTHOPADIE TECHNIK BERLIN MPC LLC <br />
Headquoters: <br />
Building No. #, Office GF-#<br />
Dubai Healthcare City, UAE<br />
Working hours: 08:30 AM - 05:30 PM<br />
Sunday - Thursday<br />
Office Fax : +971 4 437 03 44<br />
Phone: +971 4 433 56 85<br />
E-mail: info@ortekmedical.com
 </p>
</div>
		<div style="clear:both;"></div></div>				</article>

				<article class="col">
				<div id="text-10" class="footer-widget-col widget_text"><h3>CAREER</h3>			<div class="textwidget"><p>If you are interested doing business with us, for cooperation and employment, feel free to contact us by email recruitment@ortekmedical.com
</p>
<p>ORTEK ADMIN PANEL
<% if user_signed_in? %>
  <%= link_to 'LOG OUT', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'LOG IN', new_user_session_path %>
<% end %>
</p>
</div>
		<div style="clear:both;"></div></div>				</article>

				<article class="col">
				<div id="text-11" class="footer-widget-col widget_text"><h3>NETWORK</h3>			<div class="textwidget"><p>Connect with us via a selection of popular social media, networks and other platforms.
</p></div>
		<div style="clear:both;"></div></div><div id="social_links-widget-4" class="footer-widget-col social_links"><h3>Get Social</h3>		<ul class="social-networks  clearfix">
																																																											</ul>
		<div style="clear:both;"></div></div>				</article>

				<!-- <article class="col last">
				<div id="text-12" class="footer-widget-col widget_text"><h3>LOGIN</h3>			<div class="textwidget"><div id="meta-3" class="footer-widget-col widget_meta"> 		<ul>
			<li><a href="http://otb-uae.com/html/wp-admin/">Site Admin</a></li>			<li><a href="http://otb-uae.com/html/wp-login.php?action=logout&amp;_wpnonce=d20ae19994">Log out</a></li>
			<li><a href="http://otb-uae.com/html/?feed=rss2" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://otb-uae.com/html/?feed=comments-rss2" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			 			</ul>
<div style="clear:both;"></div></div></div>
		<div style="clear:both;"></div></div>				</article> -->
			</section>
		</div>
	</footer>
			<footer id="footer">
		<div class="avada-row">
						<ul class="social-networks social-networks-dark">
																																																														</ul>
					<ul class="copyright">
				<li><p class='text-center'>ORTEK Medical Equipment Trading LLC © <span class='year'>2014</span>  <br>
   <i>Design:</i> <a href='https://www.facebook.com/lubaibbinramla'>CeeJey</a>
</p></li>
			</ul>
		</div>
	</footer>