<!-- Footer starts here -->	
	<footer class="footer-area">
		<div class="avada-row" style="">
			<!-- Contact Us-->
			<section class="contact" id="contact">
				<div data-wow-duration="500ms" class="sec-title text-center mb50 wow fadeInDown animated animated" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInDown;">
						<h2 style="color:#faca01 !important;">Connect Us</h2>
						<h3 class="section-subheading text-muted">Everyone has a Personal BEST. Let us Help you find Yours!</h3>
					</div>
				<div class="container">
					<div class="row mb30 connect">					
					<!-- contact address -->
					<div data-wow-duration="500ms" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated animated" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInLeft;">
						<div class="contact-address">
							<h3>ORTEK Medical Equipment Trading L.L.C </h3>
							<p style="font-size: 13px;line-height: 23px;">Office No: 417, 4th Floor, P.O.BOX: 13265<br>
							Sultan Business Center, Beside Lamcy Plaza<br>
							Near To American Hospital,<br>Oud Metha Area Dubai U.A.E<br>
							Tel: +971 4 354 7338, Fax: +971 4 354 7338<br>						
							Office Mobile: +971 55 813 92 92<br>
							Working Hours: 9:00 AM – 8.00 PM<br>
							Saturday – Thursday<br>
							Email: <a href="mailto:info@ortekmedical.com">info@ortekmedical.com</a><br>
							Email: <a href="mailto:sales@ortekmedical.com">sales@ortekmedical.com</a></p>
						</div>
					</div>
					<!-- end contact address -->
					
					<!-- contact form -->
					<div data-wow-delay="300ms" data-wow-duration="500ms" class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated animated" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
						<div class="contact-form">
							<h3 style="font-size:22px !important;">Say hello!</h3>
							<form id="contact-form" action="#" novalidate="novalidate">
								<div class="input-group name-email">
									<div class="input-field">
										<input type="text" class="form-control" placeholder="Name" id="name" name="name">
									</div>
									<div class="input-field">
										<input type="email" class="form-control" placeholder="Email" id="email" name="email">
									</div>
								</div>
								<div class="input-group">
									<textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
								</div>
								<div class="input-group">
									<input type="submit" value="Send message" class="pull-right" id="form-submit">
								</div>
							</form>
						</div>
					</div>
					<!-- end contact form -->
					
					<!-- footer social links -->
					<div data-wow-delay="600ms" data-wow-duration="500ms" class="col-lg-1 col-md-1 col-sm-1 col-xs-12 wow fadeInRight animated animated" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInRight;">
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-behance fa-2x"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
						</ul>
					</div>
					<!-- end footer social links -->
					
				</div>
			</div>
			<div data-wow-duration="500ms" class="sec-title text-center wow fadeInUp animated animated" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
				<p>If you are interested doing business with us, for cooperation and employment, feel free to contact us by email <a href="mailto:hr@ortekmedical.com">hr@ortekmedical.com</a></p>
			</div>
		</section>
		</div>
	</footer>
			<footer id="footer">
		<div class="avada-row">
						<ul class="social-networks social-networks-dark">
																																																														</ul>
					<ul class="copyright">
				<li><p class='text-center'>ORTEK Medical Equipment Trading LLC © <span class='year'>2013</span>  <br>
   <i>Designed & Developed:</i> <a href='https://www.facebook.com/lubaibbinramla'>CeeJey</a>
</p></li>
			</ul>
		</div>
	</footer>

	<script type="text/javascript">
	$('#contact-form').submit(function() { 
		var valuesToSubmit = $(this).serialize();
	    $.ajax({
	        type: "POST",
	        url: 'home/send_email', //sumbits it to the given url of the form
	        data: valuesToSubmit,
	        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
	    }).success(function(json){
	    	alert("Sent Successfully")
	        console.log("success", json);
	    });
    return false;
	})
	</script>