		<div class="header-wrapper">
			<div class="header-v1">
				<header id="header">
					<div class="avada-row avada-row-header" style="margin-top:0px;margin-bottom:0px;">
						<div class="avada-row-left">
							<div class="logo" style="margin:10px 0 0;">
							<div class="logo-tagline">O R T E K  Medical Equipment</div>
							<a href="http://ortekmedical.com/">
								<img alt="Ortek Medical" src="../../assets/logo.jpg" title="Ortek Medical" style="float: left;width:235px;max-width:100%;"></a>
							</div>
						
						</div>
						<div class="avada-row-center">
							<div class="logo" style="margin:10px 0 0;">
								<!-- <div class="logo-tagline2">We Are Unique In Spine</div> -->
								<img alt="Ortek Medical" src="../../assets/tree.jpg" title="Ortek Tree" style="float: left;width:127px;max-width:100%;margin-left:2%;">
							</div>						
						</div>
						<div class="avada-row-right">
							<div class="specialdis">
							<div>UAE Exclusive Distributor Of:</div>
										</div>	
							<div class="distrubutor-cnt">						
								
								<div class="distrubutor-div"><img src="../../assets/okm.jpg" width="100" alt="Image"/></div>
								<div class="distrubutor-div"><img src="../../assets/qmed.jpg" width="100" alt="Image"/></div>
								<div class="distrubutor-div"><img src="../../assets/mm.jpg" width="130" alt="Image"/></div>
							</div>
							

						</div>
						
					</div>
					<nav id="nav" class="nav-holder">
						<ul id="nav" class="menu">
							<li id="menu-item-4487" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4487">
								<a href="/about_us">About Us</a>
							</li>
							<li id="menu-item-4490" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4490">
								<a href="/product_lines">Product Lines</a>
								<ul class="sub-menu">
									<li id="menu-item-4772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4772"><a href="/product_lines">Orthopedic Braces & Supports</a></li>
									<li id="menu-item-4773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4773"><a href="/orthotic_prosthetic">Orthotic Prosthetic</a></li>
									<li id="menu-item-4555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4555"><a href="/spinal">SPINAL Braces & Orthoses</a></li>
									<li id="menu-item-4564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4564"><a href="/product_lines">Insole</a></li>
									<li id="menu-item-4565" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4565"><a href="/rehabilitation_aids">Rehabilitation Aids</a></li>
									<li id="menu-item-4568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4568"><a href="/product_lines">Therapeubic Aids</a></li>
								</ul>
							</li>
							<li id="menu-item-4491" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4491"><a href="/services">Services</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/exclusive_distributor">Exclusive Distributor</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/brands">Our Brands</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Recognized Partner</a>
								<ul class="sub-menu">
									<li id="menu-item-4772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4772"><a href="http://spineislass.org">SpineISLASS</a></li>
								</ul>
							</li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Education</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/videos">Videos</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/images">Images</a></li> <li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Membership</a></li>
							<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="/catalogue">Catalogue</a></li>
							<li id="menu-item-4488" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4488"><a href="/location">Location</a></li>
							<li id="menu-item-4492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4492"><a href="/contact_us">Contact</a></li>
						</ul>
					</nav>
				</header>
			</div>	
		</div>

<!-- header part ends here -->