			<div class="header-wrapper">
			<div class="header-v1">
	<header id="header">
		<div class="avada-row avada-row-header" style="margin-top:0px;margin-bottom:0px;">
			<div class="avada-row-left">
				<div class="logo" style="margin-right:0px;margin-top:20px;margin-left:0px;margin-bottom:0px;">
				<a href="http://ortekmedical.com/">
					<img alt="Ortek Medical" src="../../assets/logo.jpg" title="Ortek Medical" style="float: left;width:235px;max-width:100%;"></a>
			</div>
			<div class="logo-tagline">O R T E K  MEDICAL EQUIPMENT <span>TRADING L.L.C</span></div>
			</div>
			<div class="avada-row-right">
				<div class="specialdis" style="margin: 20px 0;">
				<div>Exclusive Distributor</div>
							</div>	
				<div class="distrubutor-cnt">
					<div class="distrubutor-div"><img src="../../assets/okm.jpg" width="110" alt="Image"/></div>
					<div class="distrubutor-div"><img src="../../assets/qmed.jpg" width="180" alt="Image"/></div>
					<div class="distrubutor-div"><img src="../../assets/mm.jpg" width="200" alt="Image"/></div>
				</div>
				

			</div>
			
		</div>
						<nav id="nav" class="nav-holder">
							<ul id="nav" class="menu">
	<li id="menu-item-4487" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4487"><a href="http://ortekmedical.com/">About Us</a></li>
	<li id="menu-item-4490" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4490"><a href="#">Product Lines</a>
<ul class="sub-menu">
	<li id="menu-item-4772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4772"><a href="#">Orthopedic</a></li>
	<li id="menu-item-4773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4773"><a href="#">Orthotic Prosthetic</a></li>
	<li id="menu-item-4555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4555"><a href="#">Spine</a></li>
	<li id="menu-item-4564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4564"><a href="#">Insole</a></li>
	<li id="menu-item-4565" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4565"><a href="#">Rehabilitation</a></li>
	<li id="menu-item-4568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4568"><a href="#">Therapeubic Aids</a></li>
</ul>
</li>
<li id="menu-item-4491" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4491"><a href="#">Service</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Exclusive Distributor</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Brands</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Recognized Partner</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Videos</a></li>
<li id="menu-item-4489" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4489"><a href="#">Images</a></li>
<li id="menu-item-4488" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4488"><a href="#">Location</a></li>
<li id="menu-item-4492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4492"><a href="#">Contact</a></li>
		</ul>
			</nav>
	</header>
</div>		</div>