<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>ORTEK MEDICAL</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ortek Medical">
    <meta name="author" content="CeeJey">
	<link href="../../assets/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/agency.css" rel="stylesheet">
	
	<link rel="stylesheet" href="../../assets/jquery.fancybox.css">
	<!-- animate -->
    <link rel="stylesheet" href="../../assets/animate.css">
	<!-- Main Stylesheet -->
    <link rel="stylesheet" href="../../assets/main.css">
	<!-- media-queries -->
    <link rel="stylesheet" href="../../assets/media-queries.css">

	
	<!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
	#nav select {
		display: none;
	}
	</style>
	

	<!-- Avada v3.2.0 -->

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="http://otb-uae.com/html/wp-content/themes/Avada/../../assets/ie8.css" />
	<![endif]-->

	<!--[if IE]>
	<link rel="stylesheet" href="http://otb-uae.com/html/wp-content/themes/Avada/../../assets/ie.css" />
	<![endif]-->
		
	<!--[if lt IE 10]>
	<style type="text/css">
	.animated { visibility:visible; !important;}
	</style>
	<![endif]-->

<script type='text/javascript' src='../../assets/jquery-1.11.1.min.js'></script>
<script type='text/javascript' src='../../assets/jquery-migrate-1.2.1.min.js'></script>

<link rel='stylesheet' id='style-css-css'  href='../../assets/avada.css' type='text/css' media='all' />
<link rel='stylesheet' id='media-css-css'  href='../../assets/avada_media.css' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css-css'  href='../../assets/avada_animate.css' type='text/css' media='all' />
<link rel='stylesheet' id='internal-styles-css'  href='../../assets/internal-styles.css' type='text/css' media='all' />


	
	<!--[if lte IE 8]>
	<script type="text/javascript">
	jQuery(document).ready(function() {
	var imgs, i, w;
	var imgs = document.getElementsByTagName( 'img' );
	for( i = 0; i < imgs.length; i++ ) {
	    w = imgs[i].getAttribute( 'width' );
	    imgs[i].removeAttribute( 'width' );
	    imgs[i].removeAttribute( 'height' );
	}
	});
	</script>
	<![endif]-->
	
	<!--[if lte IE 8]>
	<script type="text/javascript" src="http://otb-uae.com/html/wp-content/themes/Avada/js/respond.js"></script>
	<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body class="home page page-id-3610 page-template page-template-100-width page-template-100-width-php light">
<noscript>
	<style type="text/css" scoped >
	.bodyWrapper{
	  display:none;
	}
	</style>
	<div class="noscript" style="width:100%; margin:50px auto; padding: 10px 0;text-align:center; font: bold 18px arial; color: #000; background-color:#6699FF">
	Your browser's JavaScript seems to be Disabled. Please enable the JavaScript to get all functionalty of the site.
	</div>
</noscript>
<div id="wrapper" >
	<%= render "layouts/header" %>
	<%= yield %>
	<%= render "layouts/footer" %>
</div> <!-- wrapper -->

<!-- common scripts -->
<script type='text/javascript'>
/* <![CDATA[ */
var js_local_vars = {"dropdown_goto":"GO"};
/* ]]> 
</script>
<script type='text/javascript' src='../../assets/main-min.js'></script>
<!-- Newly added scripts -->
	<!-- Single Page Nav -->
        <script src="../../assets/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="../../assets/jquery.fancybox.pack.js"></script>
		<!-- jquery.mixitup.min -->
        <script src="../../assets/jquery.mixitup.min.js"></script>
		<!-- jquery.parallax -->
        <script src="../../assets/jquery.parallax-1.1.3.js"></script>
		<!-- jquery.countTo -->
        <script src="../../assets/jquery-countTo.js"></script>
		<!-- jquery.appear -->
        <script src="../../assets/jquery.appear.js"></script>
		<!-- jquery easing -->
        <script src="../../assets/jquery.easing.min.js"></script>
		<!-- jquery easing -->
        <script src="../../assets/wow.min.js"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="../../assets/custom.js"></script>

</body>
</html>
